[2015-10-08 10:27] tsenart commented on #313
Mesos-DNS *does* translate those names to the IP address and port of the machine running each instance of each application. It does so via SRV records as you exemplified before.

However, when you run `wget http://web.marathon.mesos/status`, `wget` performs an `A` type query, not an `SRV` query, so the only information it knows about is the IP address of `web.marathon.mesos` and not the port, whic

[2015-10-08 10:44] tobilg commented on #313
Ok then, for obvious dummies like me (sorry for misunderstanding the concept), how exactly do I profit from Mesos DNS then?

For example, if I'd have a Node.js web application (web.marathon.mesos) which connects to a MongoDB server(s) (e.g. mongodb.marathon.mesos) which are both launched via Marathon, I'd have to implement the discovery of the MongoDB server(s) in my Node.js application?

If so, w

[2015-10-08 10:54] tsenart commented on #313
You'd use a DNS client in your application which supports SRV records. A quick Google search reveals something like: https://www.npmjs.com/package/service-agent

Then you'd limited to discover services that are running on Marathon. There many other Mesos frameworks which you couldn't reach that way. I'm also not sure about the performance impact that would have on Marathon.

Thanks for bringing th

[2015-10-08 11:32] tobilg commented on #313
Thanks for answering my questions so patiently... I think I learned a lot today :-) I will discuss this with our developers.

BTW, I created a minimal Docker image for Mesos DNS, see

* https://github.com/tobilg/docker-mesos-dns
* https://hub.docker.com/r/tobilg/mesos-dns/

[2015-10-08 11:32] #313 closed

[2015-10-08 12:15] tsenart commented on #313
You're welcome!

[2015-10-08 13:15] tsenart commented on #300
In the interest of transparent proxying, this shouldn't be done.

[2015-10-08 13:15] #300 closed

[2015-10-08 13:15] tsenart commented on #299
@208rishabh: Ping.

[2015-10-08 13:17] tsenart commented on #297
@lnxmad, @mcoffin: Can't you set up log rotation?

[2015-10-08 13:21] rafaelcapucho commented on #298
The `netstat -apn|grep -w 53` shows that it isn't flooded anymore,

Some logs msgs appears but are directly related to external requests to my DNS Server.

Thank you @tsenart by your effort and energy!,
Closing the Issue.

[2015-10-08 13:21] #298 closed

[2015-10-08 13:48] tsenart opened #314 "Load testing"
In order to find obvious bottlenecks and get a good picture of performance characteristics.

[2015-10-08 15:48] tsenart commented on #54
Verified that it's not happening anymore with Go 1.5 DNS resolution.

[2015-10-08 15:48] #54 closed

[2015-10-08 16:36] tsenart commented on #314
With appropriately high `ulimits`, on the following machine:
[code]

We get:
[code]

From:

[code]

CPU profiling didn't reveal any serious bottleneck in the critical path.

[2015-10-08 16:36] #314 closed

[2015-10-08 17:22] suppandi opened #318 "mesos-dns is having trouble connecting to zookeeper"
I am running my zookeeper/mesos-master/marathon on ubuntu with oracle java8. when i run the mesos-dns container, it continuously logs
ERROR: 2015/10/08 17:10:12 generator.go:74: no master
ERROR: 2015/10/08 17:11:12 generator.go:74: no master
ERROR: 2015/10/08 17:12:12 generator.go:74: no master
ERROR: 2015/10/08 17:13:12 generator.go:74: no master
ERROR: 2015/10/08 17:14:12 main.go:65: ZK watcher

[2015-10-08 17:23] tsenart commented on #318
@suppandi: I need more information to help you. Would you please follow our contribution guidelines? Thanks! https://github.com/mesosphere/mesos-dns/blob/master/CONTRIBUTING.md#issues

[2015-10-08 17:40] tsenart opened #319 "Implement /debug/ endpoints"
In order to aid live debugging, Mesos-DNS should expose useful debug endpoints over HTTP.

`/debug/stats`
`/debug/loglevel`
`/debug/reload`

[2015-10-08 17:54] suppandi commented on #318
**What version of the project are you using?**
latest versions in the ubuntu repository - zookeeper=3.4.5--1, mesos=0.24.1-0.2.35.ubuntu1404, mesos-dns docker image=latest
**What operating system and processor architecture are you using?**
amd64 ubuntu 14.04, oracle java 8
**What did you do?**
started the mesos-dns container as
    docker run --name=mesos-dns --net=host -d -v "/etc/mesos-dns/confi

[2015-10-08 17:57] tsenart commented on #318
@suppandi: What mesos-dns docker image are you running? We don't officially have one. We have pre-compiled executables instead: https://github.com/mesosphere/mesos-dns/releases

[2015-10-08 17:59] suppandi commented on #318
https://hub.docker.com/r/mesosphere/mesos-dns/

[2015-10-08 18:05] tsenart commented on #318
@suppandi: I'm sorry, that Docker image isn't maintained at this point. Would you please use pre-compiled executable from a release instead?

PS: I'm about to release v0.4.0, if you want to wait.

[2015-10-08 18:11] suppandi commented on #318
that worked...thanks

[2015-10-08 18:11] #318 closed

[2015-10-09 07:53] tsenart commented on #297
Anything to report?

[2015-10-09 09:08] mindscratch commented on #236
@jdef FYI - the default for `maxClientCnxns` is 60 ([docs](http://zookeeper.apache.org/doc/r3.4.6/zookeeperAdmin.html)]

[2015-10-09 09:10] tsenart commented on #236
@dharmit: Can we track back a little and get some more information from you please? Would you mind following our new [contribution guidelines](CONTRIBUTING.md) which asks for specific versions of things, expectations, etc. You'd just have to adapt what you have a little bit :)

[2015-10-09 09:12] mindscratch commented on #236
What I'm seeing is mesos-dns starts up, begins working, a few minutes later I get the `timed out waiting for initial ZK detection, exiting`.

For example, at 09:01:09 I have these messages:
[code]

At 09:05:09 I get the error `ZK watcher failed: timed out waiting for initial ZK detection, exiting`

[2015-10-09 09:16] tsenart commented on #236
@mindscratch: What versions of Mesos-DNS, Mesos and Zookeeper are you running, on which operating system and architecture? Thanks.

[2015-10-09 09:18] mindscratch commented on #236
@tsenart I upgraded to mesos-dns 0.3.0 but was running into issues where mesos-dns wasn't resolving hostnames (of non-mesos tasks) properly. I have `resolvers` configured, but something wasn't working quite right. I've just rolled back to mesos-dns 0.1.2, with mesos 0.24.1 and zookeeper 3.4.6 and I'm getting the error previously described.

[2015-10-09 09:21] tsenart commented on #236
@mindscratch: Would you please try https://github.com/mesosphere/mesos-dns/releases/tag/v0.4.0 and report any bugs you find? Let us know if you're still seeing this issue in particular.

[2015-10-09 09:24] mindscratch commented on #236
@tsenart I will as soon as I can, I have to go through a process at work to get new versions of software. Are there specific changes that you believe will resolve the issue(s) being described?

[2015-10-09 09:56] mindscratch commented on #236
@tsenart A few other notes regarding log output from 0.3.0.

On startup I see "Starting master detector for ZK..." then `new masters detected: [master.ourapp.com:5050 192.168.3.201:5050 192.168.3.202:5050 192.168.3.203:5050]`

I have mesos-masters and zookeeper servers running on 192.168.3.{201,202,203}. `master.ourapp.com` is the hostname for 192.168.3.201.

I see every so often in the log `warni

[2015-10-09 10:00] mindscratch commented on #236
Sorry to go on and on, but also with 0.3.0 (which didn't see with 0.1.2) is:

[code]

192.168.3.200 is the upstream DNS server (listed in mesos-dns config "resolvers"). What I'm thinking, based on the message is that mesos-dns talked to the "resolver", got back something about another DNS server (in this case shown as <public ip>), but the server mesos-dns is on can't get out to <public ip> (becau

[2015-10-09 10:16] tsenart commented on #236
@mindscratch: Please open a new issue to discuss these things as to not confuse everyone else on this one.

[2015-10-09 10:16] tsenart commented on #236
@mindscratch: Or if you prefer to have a more interactive discussion, hop on IRC Freenode #mesos-dns.

[2015-10-09 10:18] mindscratch commented on #236
@tsenart hopping on irc now, thanks.

[2015-10-09 14:40] mindscratch commented on #236
@dharmit I've upgraded to 0.4.0 and so far I've seen no zookeeper related issues, it's working great.

[2015-10-10 15:17] lnxmad commented on #297
The 0.4.0-pre no longer logs these errors. Was logging suppress or has the issue been addressed?

[2015-10-10 16:12] tsenart commented on #319
@spacejam: I'd be really happy to have your feedback on this one.

[2015-10-10 16:43] tsenart commented on #297
@lnxmad: Network errors will still be logged but since external queries are now transparently forwarded and not recursed, the above condition of trying to reach an unreachable server isn't happening anymore. Please note that we've also released v0.4.0 since, so you should use that instead of the pre release.

[2015-10-10 16:45] lnxmad commented on #297
Thanks, I'll make sure to upgrade. I may use mesos-dns as a forward lookup zone with my existing dns server. This approach seems to make more sense in my development configuration.

[2015-10-12 04:51] tony-kerz opened #324 "rest: /{version}/services/{service} for non-existent service could be improved"
perhaps should return [404](https://en.wikipedia.org/wiki/HTTP_404) vs something like below?
[code]
or maybe just empty array?
[code]

[2015-10-12 08:15] tsenart commented on #324
I totally agree. I don't know why this was the case in the first place. I may try some git archeology, let's see :-)

[2015-10-12 14:36] bobrik opened #325 "SRV Records section in docs looks broken"
Last paragraph here: http://mesosphere.github.io/mesos-dns/docs/naming.html#srv-records

![image](https://cloud.githubusercontent.com/assets/89186/10430407/eff77f4a-70f6-11e5-81bd-80661489b40c.png)

[2015-10-12 15:19] mcoffin commented on #297
Sorry for the absence we had an incredibly busy end of the week. 0.4.0 has fixed the issue on my end. No longer seeing the strange timeouts. Thanks a bunch for the hard work @tsenart.

I did a tcpdump as well and took a look at it just to make sure. Everything seemingly looks good now.

[2015-10-12 16:00] tsenart commented on #297
Great! Closing this (long) issue :-)

[2015-10-12 16:00] #297 closed

[2015-10-14 16:03] spacejam opened #326 "possible malformed response with large responses"
[code]
In particular, note the `length 740`.  This manifests as SRV record lookup failures in go.  Dig works, however, so it's not clear if we are mishandling large responses or if go's srv lookup code is buggy.  Go is able to resolve small responses, when I only query for _leader._tcp.mesos.  I'm working around this in etcd-mesos by providing discoveryinfo that will limit the size of the response

[2015-10-14 16:33] s-urbaniak commented on #326
I can reproduce the `bad cksum` also for A record lookups. I'll try to investigate it further...

1. What version of the project are you using?
https://github.com/mesosphere/mesos-dns/commit/fd4c5fc35175119faad2ef74cd18bbce9c77c56b

2. What operating system and processor architecture are you using?
Mac OSX, amd64

3. What did you do?
See below

4. What did you expect to see?
We expect to see no er

[2015-10-14 16:46] s-urbaniak commented on #326
xref: https://sokratisg.net/2012/04/01/udp-tcp-checksum-errors-from-tcpdump-nic-hardware-offloading/, https://bugzilla.redhat.com/show_bug.cgi?id=129778

@spacejam It may be that the cksum errors are caused by nic hardware offloading as described above?!

[2015-10-14 16:47] s-urbaniak commented on #276
@crucidal ping :-)

[2015-10-14 17:09] s-urbaniak commented on #326
Just tried from a separate VM:
[code]
tcpdump:
[code]
as expected the outgoing packet reports a cksum error (offloaded nic cksum handling), the response has no cksum error any more.

@spacejam Do you mind issuing the query from a separate machine and do a tcpdump trace from there?

[2015-10-14 23:59] s-urbaniak commented on #326
Go adheres to https://tools.ietf.org/html/rfc1035 and limits the maximum DNS response size to 512 bytes, see https://github.com/golang/go/blob/release-branch.go1.5/src/net/dnsclient_unix.go#L43.

[2015-10-15 00:00] s-urbaniak commented on #326
xref https://github.com/hashicorp/consul/issues/854

[2015-10-15 00:06] s-urbaniak commented on #326
xref https://github.com/mesosphere/mesos-dns/issues/237

[2015-10-15 00:12] s-urbaniak commented on #326
/cc @discordianfish

[2015-10-15 00:22] s-urbaniak commented on #326
Compression is already introduced in https://github.com/mesosphere/mesos-dns/commit/b204a79ae01245b909586962068be57912ca4fc9, so that card is played already.

[2015-10-15 02:24] dharmit commented on #236
@tsenart I don't have this environment to reproduce the issue anymore as I changed employer.
@mindscratch Thanks for the info! I will take a note of that just in case I happen to use `mesos-dns` again.

[2015-10-15 09:47] discordianfish commented on #326
In general, an answer can be larger than 512 bytes, in that case EDNS is used (not supported by go / netgo) or it falls back to TCP for resolution (which golang should do). From the server side we just need to make sure that we set the truncated bit if the answer doesn't fit into 512 bytes.

[2015-10-15 10:48] discordianfish commented on #237
@tsenart But this would break for example the prometheus DNS based SD. That expects that we return *all* slaves.

[2015-10-15 13:39] discordianfish commented on #326
Just verified: We set the truncated flag, but it seems like we also need to make sure that what we send back is complete. I've created a branch to fix the issue, but I haven't tested it yet: https://github.com/mesosphere/mesos-dns/compare/fish/fix-truncate?expand=1
This is roughly based on https://github.com/skynetservices/skydns/blob/4c00898b5ed8769af24f8dde381386f3969c2275/server/server.go#L175

[2015-10-15 18:14] discordianfish opened #327 "Add record pointing to marathon leader"

[2015-10-15 22:03] jdef commented on #327
sounds like this might be part of a larger story: frameworks should be able to advertise additional services to mesos-dns (perhaps via plugins?)

[2015-10-15 23:05] spacejam opened #328 "resolution of AWS internal names hangs on version 0.3.0"
With version 0.3.0 of mesos-dns, this behavior was observed on aws, which caused connection timeouts on etcd-mesos where short timeouts were employed:
[code]
with `/etc/resolv.conf`:
[code]
conf (unchanged since working version 0.1.2):
[code]
I'm in the process of trying to reproduce with 0.4.0, and will post back with results shortly.

[2015-10-15 23:11] spacejam commented on #328
0.4.0 seems to fix this, but its not clear to me specifically which change fixed it from the changes file.

[2015-10-15 23:11] #328 closed

[2015-10-16 02:32] jdef commented on #328
Prior to v0.4 mesos-dns implemented a complicated recursion algorithm. It
was rewritten for v0.4 to be a simple forwarder instead, which is the
recommended approach according to the RFC's that describe the proper
behavior of DNS proxies. The simple forwarder does much less work (makes
fewer external system calls --> translates to shorter overall timeout
window) than the prior recursive resolver.

[2015-10-16 07:47] tsenart commented on #328
This issue was first reported in https://github.com/mesosphere/mesos-dns/issues/297. If you're interested in the details of how this slow down manifested, have a look there.

[2015-10-16 09:23] discordianfish commented on #327
Yes, I guess this deserves a bigger discussion. Will do that with Tomas once he's back. I just wanted to add this issue so I don't forget about it. Was debugging a marathon issue and realized it was too time consuming to figure out the marathon leader.

[2015-10-16 16:01] crucidal commented on #276
@s-urbaniak
Hi,
sorry for taking so much time to respond!
I haven't got round to testing this with the new version yet as we've been implementing an alternative solution for the time being. Since it's so easy to implement and test your solution I'll try to see if I can do that somewhere in the next 2 sprints (2 - 4 weeks).

in case your interested why we didn't choose mesos-dns for now:
1. I could

[2015-10-19 09:08] tobilg opened #329 "Question: Dockerfile for running Mesos DNS via Marathon"
I created a minimal Docker image for running Mesos DNS via Marathon: https://github.com/tobilg/docker-mesos-dns

If this is something you're interested in, I would happily create a pull request for this.

[2015-10-19 18:06] tsenart commented on #329
We feel the value of a official Docker image would be great once we transition to [flag based configuration](https://github.com/mesosphere/mesos-dns/issues/257) which is one of the next things I'll be working on. Until then we won't be doing this. Thanks for the suggestion!

[2015-10-19 18:06] #329 closed

[2015-10-19 18:07] tsenart commented on #327
@discordianfish: Please elaborate on the proposal in the description of the issue.

[2015-10-19 18:23] tsenart commented on #237
@discordianfish: We need to do this regardless of whether we support [EDNS(0)](https://tools.ietf.org/html/rfc6891), but that should alleviate the problem for Prometheus, as long as it has EDNS(0) enabled DNS client. The upper bound of records we can have in the answer section is 65535 due to the `ANCOUNT` field in the header being an `uint16`. If the client won't support EDNS(0) then it could try

[2015-10-19 18:28] discordianfish commented on #237
@tsenart Yes, that's what we should do but you said above that we should always limit the number so it fits into UDP. Instead we should return all, even if this means we need to truncate and have clients fall back to tcp.

[2015-10-19 18:30] tsenart commented on #237
@discordianfish: By definition, when you truncate, you can't return all :-)

[2015-10-19 18:32] discordianfish commented on #237
Ok, let me rephrase: We should truncate the responses to whatever the client supports (512 without EDNS, whatever is indicated with EDNS) and 65535 records for TCP.

[2015-10-19 18:51] tsenart commented on #237
:+1:

[2015-10-19 19:04] tsenart opened #331 "Provide official Docker image"
* After transitioning to flag based configuration, to maximise value. See #257
* Before deprecating https://github.com/mesosphere/mesos-dns-pkg
* To avoid fragmentation of many user images.
* That is official and has the user trust.
* With the `net=host` constraint because of https://github.com/docker/docker/issues/11998

[2015-10-19 19:05] tsenart commented on #329
Ref: https://github.com/mesosphere/mesos-dns/issues/331

[2015-10-19 19:06] tsenart commented on #265
Ref: https://github.com/mesosphere/mesos-dns/issues/331

[2015-10-19 20:53] tobilg commented on #331
Thanks for taking this. If I can be of any help let me know.

[2015-10-19 21:02] tsenart commented on #236
Fairly confident that improvements to the ZK code in v0.4.0 fixed this. Please re-open if this re-occurs.

[2015-10-19 21:02] #236 closed

[2015-10-20 09:54] lloesche commented on #331
@tsenart when providing the official image I'd recommend basing it off of the one I've build in mesos-dns-pkg. It's a two step image generation process where the end result is a 3MB Docker container. The rootfs tarball would only need to be generated once.

[2015-10-20 16:14] karlkfi commented on #331
The scratch base image is impossible to debug because you can't even shell into it. I strongly recommend alpine so that you have the smallest container with a shell and a package manager (in case you need dnsurils, for example).

[2015-10-20 16:25] tobilg commented on #331
@karlkfi I'd also recommend a minimal Alpine image, like I used in https://github.com/tobilg/docker-mesos-dns/blob/master/Dockerfile The overall image is around 27,5MB and contains `ash` respectively `bash`.

[2015-10-21 12:26] parker20121 opened #332 "Mesos DNS Returning Internal Docker IP Address and not Host IP Address"
I've deployed chronos on marathon (0.11.0). Using coreos 835 with mesos 0.25.0 and mesos-dns 0.4.0 as a docker container wtih docl. The same also happens for mesos 0.3.0.
[code]
When I perform
[code]
 it returns the internal docker ip address that chronos is running on and not the host ip address.

[code]
I would expect to see a 10.105.x.x address.

[2015-10-21 16:48] tsenart commented on #332
It seems like you need to change your `IPSources` as described in https://mesosphere.github.io/mesos-dns/docs/configuration-parameters.html

[2015-10-21 17:08] parker20121 commented on #332
thanks. that did it.

[2015-10-21 17:08] #332 closed

[2015-10-21 23:56] jdef commented on #145
xref 168

[2015-10-22 01:25] bernadinm opened #333 "Build failed for the first time Mesos-dns v0.4.0"
Hello,

I just attempted to install mesos-dns and got this error when attempted to build this.

I am running Ubuntu 14.04 with kernel 3.13.0-32-generic

root@abc:/usr/local/mesos-dns-0.4.0# godep go build ./...
# github.com/emicklei/go-restful
Godeps/_workspace/src/github.com/emicklei/go-restful/compressor_pools.go:12:28: error: reference to undefined identifier ‘sync.Pool’
 var GzipWriterPool = &

[2015-10-22 09:47] tsenart commented on #333
Any particular reason why you're not using our [releases](https://github.com/mesosphere/mesos-dns/releases) instead?

In any case, it seems like your version of Go is too old where `sync.Pool` hadn't been introduced yet.

[2015-10-22 14:22] lloesche commented on #331
~30MB sounds reasonable too. My point being don't base it on Ubuntu and make it a 200MB image for a 3MB binary :smile:

[2015-10-22 15:03] karlkfi commented on #331
fwiw, I just put oinker in an alpine container.  Since Alpine uses musl instead of glibc, I opted to compile in an alpine container too. https://github.com/karlkfi/oinker-go

[2015-10-22 22:08] bernadinm commented on #333
No particular reason. I saw the source code .tar.gz and wanted to just try the build process. Anyhow, I used the mesos-dns-v0.4.0-linux-amd64 binary instead and I am up and running. Thanks!

[2015-10-23 00:40] #333 closed

[2015-10-23 19:10] dj80hd commented on #163
@F21 - Thank you.  Increasing memory to 1G worked.

[2015-10-29 18:07] bernadinm opened #334 "Services launched from Marathon in bridged networking mode cannot be discovered"
When we launch an application in marathon with  "network": "BRIDGE", it takes passes the internal docker IP address to Mesos-DNS but that IP is not resolvable from any other application. When the application gets launched with "network": "HOST", it works perfectly fine.

Is there a way where an application can get the IP address from the HOST even when it is launched in BRIDGE mode?

[2015-10-30 22:13] jdef commented on #334
remove docker from IPSources in your mesos-dns configuration

On Thu, Oct 29, 2015 at 2:07 PM, Miguel Bernadin <notifications@github.com>
wrote:

[2015-11-03 22:43] bernadinm commented on #334
"IPSources": ["netinfo", "mesos", "host"]

I just checked and I don't have docker listed as an IP source.

[2015-11-03 22:57] jdef commented on #334
please provide details for this issue according to: https://github.com/mesosphere/mesos-dns/blob/master/CONTRIBUTING.md

FWIW someone else reported a similar problem on the mesos-users list. they solved it by forcing "host" to come first in the list. This *shouldn't* be needed but there's perhaps a bug lingering somewhere that we're not seeing.

[2015-11-04 16:51] tobilg opened #335 "Inconsistency between result ordering of DNS and HTTP API request in case of multiple ports per service"
**What version of the project are you using?**
- v0.4.0

**What operating system and processor architecture are you using?**

[code]

**What did you do?**

I'm running a Docker image via Marathon which exposes two http ports (opened by different services) per instance.

Now, I have trouble to determine which SRV request answer is the correct one, because it appears that the answers are not sorted

[2015-11-04 17:04] tobilg commented on #334
@bernadinm Have you tried adding the `portMappings` property to the Docker container configuration?

[code]

This works perfectly fine for me.

[2015-11-04 17:13] jdef commented on #335
Seem to remember some discussion a while back around randomizing the order of records in DNS responses so that clients don't get attached to some arbitrary order that we then have to maintain. Sounds like we may have missed on doing the same for the HTTP API.

[2015-11-08 21:20] sargun opened #336 "Adaptive Polling"
@spacejam suggested that when Mesos starts up, we poll faster, in order to build up cluster state faster as the entire cluster is coming up.

[2015-11-08 21:49] spacejam commented on #336
a few different approaches:
* sargun's dumbest idea imaginable (in a good way :) : refreshTime becomes the time to wait after the return of the last request
* have a static min and max backoff, and the proportion of some configurable threshold size in bytes of the state.json response is the proportion along the min-max range that we back-off for after it returns.  bigger requests cause more backin

[2015-11-08 23:24] cmaloney commented on #336
Polling faster during the startup is likely to make the startup go considerably slower for tasks that don't depend upon looking up eachothers nodes. state.json is fundamentally expensive to generate and transfer. There is some perf improvements heading into it, but it still is a full state dump, which is many MB of data for a busy cluster.

Polling state.json makes a giant time gap as the mesos ma

[2015-11-09 02:08] junneyang opened #337 "host port of app can be accessed by name?"
thanks !

[2015-11-09 02:43] jdef commented on #336
Isn't there a design doc WIP somewhere that talks about pushing events from
master? Not sure what the timeline is for getting those changes into a
Mesos release.

On Sun, Nov 8, 2015 at 6:24 PM, Cody Maloney <notifications@github.com>
wrote:

[2015-11-09 03:47] cmaloney opened #338 "AAAA lookups returning NXDOMAIN for mesos-dns TLD causing leader.mesos to never get resolved"
This causes leader.mesos to never be resolved sometimes (python code using urllib on a machine with ipv6 disabled, but with an ipv6 capable resolver). The system resolver asks for the IPv6 address first / does an AAAA request for leader.mesos. That returns NXDOMAIN. The system resolver got a positive "does not exist" response, so it never tries for an A record / IPv4.

Log snippet:
[code]

[2015-11-09 05:10] spacejam commented on #336
@cmaloney Not hitting state.json is out of scope for this.  Given that we need to keep hitting it for now, what do you think about the third option I listed where an operator can explicitly state what % of the master's time should go into this?  I like it because it plays the nicest in terms of capacity planning.  Master message processing latency hits above the median percentile are unavoidable f

[2015-11-09 05:31] cmaloney commented on #336
Percentage of Mesos Master time still seems dangerous to me. I agree hitting `state.json` may be out of scope for what you were thinking, but it entirely should be something doable within timeline. You could hook some really rudimentary "push all taskStatusUpdates" stuff into Mesos within a week timeframe that could land in DCOS at least as a Mesos module to solve the problem.

Estimating "percent

[2015-11-09 17:36] spacejam commented on #336
The % approach automatically backs off for longer when the master is more loaded.  It's still up to the capacity planner to set that % correctly, which is not possible at all with the current setup.  Do you see any way that this is not better than the current approach?  People want stuff to launch quickly on a new cluster, and this is a big thorn in our current customer experience that I think thi

[2015-11-09 18:03] cmaloney commented on #336
If you look at relative to classic "time to install Cassandra" / etc we're still doing really, really well.

If we start making it so the startup works differently, we are making the use case of first time cluster / service startup a little bit better. That users go through once. And time to launch wise, we are still wayy ahead of manual orchestration + deployment in a classical system.

From a de

[2015-11-09 18:33] spacejam commented on #336
I agree that the worst-case behavior should be well-understood, which is achievable with a configurable truncated backoff (at both ends of the desirable range).  I see this as a tiny, easily-testable change that improves initial customer experience, which is important.  I want this because I don't like waiting for clusters to come up, and because I want to write the least code possible to address

[2015-11-09 18:38] cmaloney commented on #336
It still leaves wide open the even worse experience of "after a cluster is up lots of things can cause service discovery to take too long". It's really optimizing for the startup case, which startup being slow is something customers will forgive us for. Taking out production isn't. They're both even better solved by getting push throughout the stack.

The case of spinning up the cluster 100x isn't

[2015-11-10 05:22] sargun commented on #337
Are you talking about SRV records perhaps? If you're using Marathon for example, and your app is named "ncat" - you can query for an SRV record like: _ncat._tcp.marathon.mesos, which will tell you the port, as well as IP for the app, for example:
[code]

In this, I find 31104 is the port, and 33.33.33.2 is the IP according to SRV record above. You can also find the same information via the REST AP

[2015-11-10 15:09] sargun commented on #338
So, is the ask / remedy to return NODATA here? Or do you want Mesos-DNS to return IPv4 converted addresses?

[2015-11-10 15:32] sargun commented on #336
@cmaloney Apart from this ask, the Mesos master should throttle requests, or at least indicate if a particular client is causing a degradation in QoS. I know that this kind of feature has been added to the Scheduler API (http://mesos.apache.org/documentation/latest/framework-rate-limiting/).

The other side of this - I think that it's valuable to add backoff, even independently of adaptive polling

[2015-11-10 17:47] cmaloney commented on #338
I'd prefer NODATA here, although practically we should test with the client library that doesn't work with the NXDOMAIN and make sure that works.

[2015-11-10 19:41] cmaloney commented on #336
@sargun That would be a perfectly reasonable thing for Mesos to do, should file a Mesos JIRA asking for it.

As far as adding a backoff currently: I think that is of mixed value. Right now people can depend on the service discovery lag of 30 seconds in order to co-ordinate updates / upgrades. Yes, it could tip over a cluster / DDoS a Master. In practice though, it's fairly obvious when that is hap

[2015-11-10 20:31] malnick commented on #338
I can confirm I'm seeing this same behavior on site at Apple this week. Regardless of kernel or OS settings for the resolver, the history service keeps stubbornly looking up quad A records. It appears to act independently of the OS resolver / kernel settings so we need to ensure we only do ipv4 lookups for the resolver client in the history service.

[2015-11-11 04:11] nemothekid commented on #334
Experiencing this same issue after upgrading from mesosphere/mesos-dns@999adb64 to v0.4.0

Config:
[code]

`host` command returns internal ips.
[code]

[2015-11-11 04:21] nemothekid commented on #334
Actually it looks like mesos 0.25.0 might be auto populating this Netinfo field with the docker container's ip address - from mesos-master state:

[code]

Given that the networkinfo is ahead of host, by default, its using this info. The mesos-dns docs might want to reflect this? I was on a really old version of mesos-dns so I might have glossed over the break in backwards compatibility, but becaus

[2015-11-11 04:39] nemothekid commented on #198
Potentially seems like a bug with how mesos-dns answers the queries?

[code]

Even though address were found, it returns NXDOMAIN anyways. Then the next host lookup just returns NXDOMAIN without the addresses. Compare this to bind's reponse

[code]

FWIW, dig always succeeds:
[code]
FWIW, bind9's response
[code]

Also, note that I do have my mesos-dns instance behind bind9

`named.conf`:
[code]

M

[2015-11-11 04:44] jdef commented on #334
Apparently it's mesos. I was unaware of this change in 0.25:
- https://github.com/apache/mesos/blob/0.25.0/src/docker/executor.cpp#L177

[2015-11-11 04:54] jdef commented on #334
@karya0 prior to v0.25, in mesos-dns we could easily ignore the docker ip's by avoiding parsing the IP in the value of the `Docker.NetworkSettings.IPAddress` label. in 0.25 that IP address is being stuffed into NetworkInfo.ip_address. this is biting users. in mesos-dns it would be useful to be able to detect which addresses are docker-assigned since they're not cluster-routable by default. right n

[2015-11-11 08:16] sargun commented on #338
Do you have the state.json to recreate this?

[2015-11-11 08:48] sargun commented on #187
@cmaloney Is this any different than setting "ExternalOn" to false? Although, internally, it'll maintain a DNS server list, it shouldn't get used.

[2015-11-11 13:56] tobilg commented on #334
Coming back to the original question, I think it's a wrong understanding of how Mesos DNS could/would work.

If using `BRIDGE` networking, Marathon would assign an external port of the slave's port range if the container is configured with `portMappings` as written in my comment above.

So, using `host kibana.marathon.mesos` (as example) would be insufficient, even if it would actually return the

[2015-11-11 16:20] cmaloney commented on #338
I think this one all comes down to zk:// for generating leader.mesos.

The config we use:
[code]

[2015-11-11 16:51] sargun commented on #338
Yeah, I'm just unsure of how this can slip through - we handle this case in the resolver:
[code]
The second part should show true, because there is an entry for "A" as: leader.mesos.: 10.240.0.5

[2015-11-11 16:53] sargun commented on #337
@junneyang Ping?

[2015-11-11 16:54] cmaloney commented on #187
In my configuration currently I either have to set `"resolvers": ["list", "of", "resolvers"]"` or `"externalOn": false"`, which generally works. Why doesn't a list of empty resolvers just imply `externalOn` is false though? Why do I need these two different settings?

[2015-11-11 16:57] sargun commented on #335
The DNS results are randomized. In fact the RFC1033 states:

   resource records.  Listing RRs (such as multiple address records) in
   a certain order does not guarantee they will be used in that order.

In mesos-DNS we have a rudimentary form of load balancing:
[code]

Is the ask here to add the same randomization to the REST endpoints? I don't know if that makes sense.

[2015-11-11 17:22] sargun commented on #187
The current behaviour is that if you omit resolvers from the configuration, it falls back to `8.8.8.8`. An empty list of resolvers currently pulls resolvers from the system resolver list. These are two defined behaviours. Would you like to propose an option so we users can intuitively configure their instances to use the system resolver list, or just the built-in defaults?

Either way, if we're ch

[2015-11-11 17:56] jdef commented on #335
It's probably a good idea to add randomness to the REST endpoints for (a)
consistency between interfaces, and; (b) avoiding user dependencies on
specific ordering guarantees via the REST interface

On Wed, Nov 11, 2015 at 11:57 AM, Sargun Dhillon <notifications@github.com>
wrote:

[2015-11-11 18:52] sargun commented on #335
@jdef
I think if we're to add randomness to the REST endpoint, it becomes an option a la ?shuffle=true, at least for one release, rather than changing behaviour in case anyone is in b (mode), then make shuffle=true the default, and allow them to fall back to false.

[2015-11-11 19:02] cmaloney commented on #187
The current behavior works, so I wouldn't focus on it for now. Picking up system resolvers I think could be dangerous (In our case, some point to instances of Mesos-DNS, some point to whatever a customer's upstream DNS servers are). Falling back to Google DNS isn't a really obvious behavior (I'd almost rather have it be a mandatory parameter you have to set at startup), but that is all personal de

[2015-11-11 19:58] nemothekid commented on #334
While I'm not sure 100% about OP's use case, the way we use mesos-dns is we have set ports for certain services (so `kafka` is always on port 7203, using marathon's `requirePorts` option), we just never know what host its on, hence the need for mesos-dns.

[2015-11-11 20:06] jdef commented on #335
I see where you're going with the deprecation-cycle approach. Don't feel
that it's warranted in this case. No one is going to add `?shuffle=true` to
opt-in. Which makes the deprecation cycle effectively useless -- and so
people that depend on order will break anyway once we make shuffle the
default.

We should just make the change and be sure to doc it in the release notes.

On Wed, Nov 11, 2015 a

[2015-11-11 20:08] jdef commented on #335
An alternative would be to shuffle REST results by default, but allow
people to manually "opt-out" of shuffle for one release cycle, via
`?shuffle=false` (which gives them the old behavior). I doubt anyone will
use this but at least there would be an escape hatch if anyone is really
depending on it.

On Wed, Nov 11, 2015 at 3:06 PM, James DeFelice <james@mesosphere.io> wrote:

[2015-11-11 23:01] sargun commented on #335
Let's do the latter. Sounds like a plan.

[2015-11-12 00:15] junneyang commented on #337
thank you！

[2015-11-12 00:15] #337 closed

[2015-11-12 01:13] sargun commented on #186
Is this still the case? I think d35dd1f4 should have fixed this, since it adds a master: "" to the list - although you can still get a refresh cycle with no masters, it'll eventually converge once it gets the list from Zookeeper.

[2015-11-12 01:18] sargun commented on #299
Any update?

[2015-11-12 01:19] sargun commented on #276
@crucidal Bump.

[2015-11-12 08:41] sargun commented on #157
What do you think about taking a sha1 hash, encoding it to the [extended hex alphabet](https://golang.org/pkg/encoding/base32/#pkg-variables), and truncating it to 6 characters [3 bytes]? The process of generating these hashes is done "offline" in records/generator.go, so I'm not overly concerned about the performance on sha1. Especially, given that modern CPUs can do thousands of hashes a second,

[2015-11-12 09:09] sargun commented on #254
DNS does not guarantee ordering. It is up to us to decide, see, [RFC1794, section 4](https://tools.ietf.org/html/rfc1794). It's also the way that most of the internet works, see [Round Robin DNS](https://en.wikipedia.org/wiki/Round-robin_DNS) from Wikipedia.

[2015-11-12 10:51] tsenart commented on #254
What about SRV records?

On Thu, 12 Nov 2015 at 10:09, Sargun Dhillon <notifications@github.com>
wrote:

[2015-11-12 14:13] jdef commented on #157
I think we need to understand the scope of this uniqueness requirement a bit more before proceeding. That said, here's my two cents:

- we don't need to pay the expense of SHA1 for hashing, there are cheaper hashing algs that would serve well. we don't need anything that's crypto secure. that's not the point at all. record generation is done offline, right now, but won't be long term. let's not pi

[2015-11-12 18:14] sargun opened #342 "Use duration / strings for time in configuration"
Right now, all of our configuration flags for time units have hardcoded units (seconds). Ideally, these should use strings, so if people want subsecond durations, they can choose so.

[2015-11-12 19:25] sargun commented on #254
Reading between the lines in [RFC2782](https://www.ietf.org/rfc/rfc2782.txt), it seems like the client is responsible for reordering results.

So, DNS in general doesn't guarantee ordering. SRV records themselves have "order" defined not by ordering in the packet, but rather sorted by priority, and weight order.

[2015-11-13 06:42] amulyas opened #343 "mesos-dns not resolving external DNS"
My config is this
ip-172-18-8-189 core # cat /opt/mesosphere/etc/mesos-dns.json
{
  "zk": "zk://127.0.0.1:2181/mesos",
  "refreshSeconds": 30,
  "ttl": 60,
  "domain": "mesos",
  "port": 53,
  "resolvers": ["10.0.0.2","172.1.1.2"],
  "timeout": 5,
  "listener": "0.0.0.0",
  "email": "root.mesos-dns.mesos"
}

but while running jobs in chronos. Job can not resolve DNS name at the DNS 172.1.1.2 .. I

[2015-11-13 08:49] sargun commented on #343
@amulyas
What do you mean, it cannot resolve the DNS name at DNS 172.1.1.2?

Can you please post the output of the following commands:
[code]

-Thanks!

[2015-11-13 08:55] sargun opened #344 "Should we return NXDOMAIN + AA during initialization"
So, when Mesos-DNS starts, before it loads the state.json from Mesos, it replies to a result of leader.mesos as follows:
[code]

In some environments loading the state.json can take up to 30 seconds! Given this, hosts can get a result from a recently brought up mesos-dns that's incorrect. I don't know if this is the right behaviour.

### Questions:
1. Should we respond to DNS at all?
2. Should we

[2015-11-13 09:12] mindscratch commented on #343
@amulyas is the chronos job running in docker? If yes, is the docker client on the host where the chronos job runs configured with `--dns ipaddr` where ipaddr is the ip address of the Mesos End server.

[2015-11-13 10:59] tsenart commented on #254
Makes sense, it's the client responsibility then.

[2015-11-13 15:07] jdef commented on #344
mesos-dns can be configured to pull masters from ZK, or with a static list
of masters. Why is leader.mesos resolution dependent upon loading
state.json at all? If we have a static list of masters we should be able to
respond right away. The next question becomes: if we don't have a static
list of masters, and we haven't received a list from the ZK detector --
what's the best course of action?

On

[2015-11-13 16:05] sargun commented on #344
@jdef leader.mesos is only one example - another thing would be any of the records generated from the master.

[2015-11-13 16:28] amulyas commented on #343
@mindscratch I tried that but the IP address I added to the --dns is external DNS server IP address what is mesos end server I have three master cluster where anyone can act as master ?

[2015-11-13 16:52] amulyas commented on #343
@sargun  thank you .. I have a DNS server running outsie mesos at 172.x address I added it in the resolvers list on mesos-dns-json on all three masters and restarted mesos-dns .. even upgraded to latest release but still its not resolving domain name like example.com with in chronos jobs.. jobs running on docker container with chronos

[2015-11-13 17:09] sargun commented on #343
@amulyas Can you please run the commands I posted and then their output on your mesos-DNS server?

[2015-11-13 17:10] #243 closed

[2015-11-13 17:16] amulyas commented on #343
@sargun thanks for help mesos-dns is installed as part of mesossphere aws cfn and all masters are core of do you know how can I get dig there?

[2015-11-13 17:17] sargun commented on #157
So, 4-byte FNV64A + xor-fold doesn't have any collisions using 1M samples. Similarly, a 24-bit SHA1 doesn't have any collisions in this sample I ran. At 10M samples, they both showed collisions. In the future, I'd like to tune the quickcheck test to use a deterministic dataset (set the seed manually).

**Benchmarks:**
[code]

The benchmark for SHA included hashing the string, converting it to base

[2015-11-13 17:26] jdef commented on #157
fwiw, regular base32 encoding can leave strange tail chars that probably
don't comply with DNS name rules. hence my suggestion of zbase32. (
https://github.com/tv42/zbase32 ?)

is it worth testing 8-byte FNV-1a 128-bit + xor-fold for comparison (both
in terms of speed and collisions)?

On Fri, Nov 13, 2015 at 12:17 PM, Sargun Dhillon <notifications@github.com>
wrote:

[2015-11-13 17:40] sargun commented on #223
I think being explicit about this, and using the new `util.IgnoreError`, e.g. `defer util.IgnoreError(r.Close())` versus blindly ignoring these, to the linter accidentally dropping errors.

[2015-11-13 17:51] sargun commented on #343
@amulyas If you run `docker run -t -i --net=host ubuntu /bin/bash` you should be able to get a Docker container with Ubuntu. There, you can `apt-get` and install dig.

[2015-11-13 18:03] sargun commented on #157
The extended hex alphabet is safe for DNS. It uses - instead of = for the trailing chars as well. zbase32 seems reasonable as well. I don't have any strong opinions, as I imagine the cost, and complexity of applying the encoding for either FNV, or SHA is going to be roughly the same cost.

I don't think using 128-bit FNV is a good idea, because it's not included in the Go stdlib. Although, it's fa

[2015-11-13 18:07] sargun commented on #319
@spacejam Should we expose an endpoint to trigger reloading? If so, I'd say we need to put authentication on it. As a stop-gap, I think SIGUSR1 should trigger reloading the state, rather than beginning to get into the security business.

[2015-11-13 18:19] sargun commented on #198
Is 10.129.196.28#53(10.129.196.28) a mesos-dns instance, or a BIND instance?
@nemothekid Can you run the command with 'host -d'

[2015-11-13 18:30] tsenart commented on #223
I dread any package called `util`. It ends up sucking up all matter from the known universe. I like the idea of making it explicit, but let's create a package called `errors` and have `defer errors.Ignore(r.Close)`

[2015-11-13 18:31] nemothekid commented on #198
10.129.196.28#53 is a BIND instance. Here is `host -d` twice (first "succeeds", second is NXDOMAIN)
[code]

[2015-11-13 18:33] nemothekid commented on #198
Also note, `.channelmeter.com` is our default search domain. Makes sense why `kafka.marathon.mesos.channelmeter.com` would fail - why is it trying that domain anyways?

[2015-11-13 18:55] sargun commented on #198
Because, host uses your /etc/resolv.conf search path, if you want to avoid that, you can use "kafka.marathon.mesos."

[2015-11-13 18:56] sargun commented on #223
@tsenart Isn't there already a std golang package named errors? I wouldn't want to have to import that as another name to avoid the conflict. Any other name suggestions?

[2015-11-13 18:58] nemothekid commented on #198
I'm aware what is going on (I have .channelmeter.com in my search path), I don't know why its looking it up, even though records were returned. For example, the same doesn't happen when I lookup "google.com"

Even still using the FQDN has the same results

[code]

[2015-11-13 19:08] spacejam commented on #319
This thread completely slipped through my filter x_x I like the idea of using a signal to punt on auth.  I'm not as worried about loglevel because it has fewer consequences when abused.  Stat endpoints are super, super important for any system that exists in a DC, and we should favor over-reporting for just-in-case debugging.

[2015-11-13 19:59] jdef commented on #319
I think stats/metrics should be broken out into a separate issue/PR and we should spend some time gathering requirements on what metrics make sense to report through a /metrics (or /stats) endpoint.

[2015-11-13 20:04] jdef commented on #223
yes there is a stdlib package called errors but that shouldn't preclude us
from using the same name if it makes sense.

On Fri, Nov 13, 2015 at 1:56 PM, Sargun Dhillon <notifications@github.com>
wrote:

[2015-11-13 20:06] sargun commented on #223
@jdef errors is imported, and used in generator.go, which also uses this util func. I'd say, if we know there's going to be an import name collision from day 1, let's try to avoid that.

[2015-11-13 20:07] jdef commented on #223
I'd be fine with an `errorutil` package

On Fri, Nov 13, 2015 at 3:06 PM, Sargun Dhillon <notifications@github.com>
wrote:

[2015-11-13 20:59] sargun commented on #223
@jdef :+1:

[2015-11-13 22:50] tsenart commented on #223
`errutil`

[2015-11-13 23:44] amulyas commented on #343
@sargun  I have not get time to try what you suggest I will send you output of these commands.. but if I manually add DNS IP on /etc/resolv.conf I can ping internal hostname but if I add DNS ip  in resolvers in mesos-dns config I can not ping internal hostname..
goal is that jobs running in docker inside chronos should be able to resolve internal host name

[2015-11-14 03:50] sargun opened #348 "Signals for reload"
I'd like to introduce signals for reload. Specifically, I'd like to introduce the ability to send SIGUSR1 to mesos-dns and start a new reload. This can be implemented fairly simply, by creating a new buffered (by 1) channel, and signal handler that on signal reception goes ahead and sends a message to a channel. If that channel is busy at the moment, we drop the message, and log it (to prevent peo

[2015-11-14 03:50] sargun commented on #319
I'd say as far as changing the loglevel - that can be dangerous. If someone accidentally raises the log level too high, and breaks things? If we're to do it, I think it would make sense to only allow changes from localhost.

As far as the API, looking at the config.go, if we wanted to have minimum effect we could expose each of the log levels a la:
[code]
payload:
`0`, `1`, or `2`

That aligns alo

[2015-11-14 03:53] amulyas commented on #343
@sargun  here is the command outputs

[root@ip-172-18-8-189 ~]# dig @localhost google.com

; <<>> DiG 9.10.3-RedHat-9.10.3-2.fc23 <<>> @localhost google.com
; (2 servers found)
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 61104
;; flags: qr rd ra; QUERY: 1, ANSWER: 1, AUTHORITY: 0, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 4

[2015-11-14 04:57] sargun opened #349 "Expose metrics for monitoring"
We need to expose metrics for monitoring. A service without metrics may as well not be running if it isn't monitored is the common mantra these days amongst SREs. The other aspect of this is that users must monitor the usage of a given mesos-dns instance in order to properly capacity plane.

Fortunately, Go has a standard package, [expvar](https://golang.org/pkg/expvar/) for exporting variables, a

[2015-11-14 04:57] sargun opened #350 "Dynamically change log level"
Users would like to change the log level without interrupting service. Currently, they have to restart mesos-dns in order to do this.

I'd say as far as changing the loglevel - that can be dangerous. If someone accidentally raises the log level too high, and breaks things? If we're to do it, I think it would make sense to only allow changes from localhost.

As far as the API, looking at the config

[2015-11-14 04:59] sargun commented on #319
I've split this out into a couple issues:
* Signals for reload: #348
* Metrics: #349
* Log level: #350

I'm going to go ahead and close this one out otherwise.

[2015-11-14 04:59] #319 closed

[2015-11-14 05:01] sargun commented on #343
So, from the dig commands, it looks like your state is healthy. Can you try to explain in a bit more detail what you're trying to do, and where you're hitting into a problem.

[2015-11-14 05:31] jdef commented on #350
Somewhat related, I had started on a PR to integrate support for dnstap into mesos-dns. It's a little crufty at this point (see #212) but the goal was to integrate support for *wire level logging* so that DNS problems could be traced very easily: user's wouldn't need root access for `tcpdump` and wouldn't have to share credentials for their VPN in order to get help troubleshooting. The goal would

[2015-11-14 05:38] sargun commented on #350
@jdef This isn't currently a customer requirement. I just wanted to break it out from #319. If we implement this, we'll implement it in "Mesos DNS 1.1" and not "1.0." The more important parts of that issue were related to metrics.

[2015-11-14 05:40] sargun opened #351 "Scale test Mesos-DNS"
I'd to come create a scale test for Mesos-DNS. Specifically, I'd like to create a test with a representative workload, "zone", and backend resolver behaviour in order to comfort Mesos-DNS customers with using the product.

# Proposal
Components:
1. BIND / TinyDNS
2. Mesos-DNS
3. dnsbench
4. Fake mesos master
5. TC

# Components
## Bind / TinyDNS
I'd like to setup a non-recursing BIND server with a

[2015-11-14 05:42] sargun commented on #344
I'm going to delegate this to understand if this is a concern to @brndnmtthws and co.

[2015-11-14 06:10] jdef commented on #349
FWIW kubernetes uses prometheus for exporting metrics.

https://github.com/prometheus/client_golang

If anyone is working on DCOS metrics it might be nice to pick a lib that
will integrate well with that.

On Fri, Nov 13, 2015 at 11:57 PM, Sargun Dhillon <notifications@github.com>
wrote:

[2015-11-14 06:11] amulyas commented on #343
@sargun sure thanks for your reply ..
I have mesossphere cluster running in AWS connected to remote colo via IPsec .. I would like mesos slave to resolve dns entries in colo .. so there is a DNS server which I would like to add as external resolver ... I added it in meos-dns config and restarted mesos-dns but when I do ping <internal colo domainname> I see ping: unknown ..

this is from Debug dock

[2015-11-14 06:40] amulyas commented on #343
@sargun  dig @<DNS IP> domain.name.com works but ping domain.name.com does not work .. I have set the DNS IP in resolvers of mesos DNS

[2015-11-14 22:41] sargun commented on #349
Paging @nickbp, who is working on DCOS metrics.

[2015-11-14 22:41] sargun commented on #349
@jdef It appears like go-kit's metrics support prometheus.

[2015-11-14 22:43] sargun commented on #343
@amulyas Can you post your /etc/resolv.conf?

[2015-11-14 23:00] amulyas commented on #343
@sargun sure here it is  187 and 189 are where mesos master are running and .. 8.2 is the second IP from the base range of mesos vpc in AWS

options timeout:1
options attempts:3
nameserver 172.18.8.187
nameserver 172.18.8.189
nameserver 172.18.8.2

[2015-11-14 23:01] amulyas commented on #343
here is my config.json for mesos DNS I bumped the timeout just in case if thats the problem
{
  "zk": "zk://127.0.0.1:2181/mesos",
  "refreshSeconds": 30,
  "ttl": 60,
  "domain": "mesos",
  "port": 53,
  "resolvers": ["172.18.8.2","172.16.8.2","172.16.10.5"],
  "timeout": 25,
  "listener": "0.0.0.0",
  "email": "root.mesos-dns.mesos"
}

[2015-11-14 23:43] amulyas commented on #343
Nov 14 23:42:18 ip-172-18-8-188.ec2.internal mesos-dns[15911]: VERY VERBOSE: 2015/11/14 23:42:18 logging.go:75: {MesosRequests:372 MesosSuccess:371 MesosNXDomain:1 MesosFailed:0 NonMesosRequests:0 NonMesosSuccess:0 NonMesosNXDomain:0 NonMesosFailed:0 NonMesosForwarded:0}

Non mesos forwarded should not be 0 I think ...

[2015-11-15 00:13] amulyas commented on #338
one of my three mesos master always trow this error in mesos-dns logs is this expected

Nov 15 00:13:12 ip-172-18-8-187.ec2.internal dcos-history[598]: [INFO:2015-11-15 00:13:12,943] Get state from leading master http://172.18.8.189:5050/
Nov 15 00:13:13 ip-172-18-8-187.ec2.internal systemd[1]: dcos-signal.service: Service hold-off time over, scheduling restart.
Nov 15 00:13:13 ip-172-18-8-187.ec2

[2015-11-16 16:55] UndeadBaneGitHub commented on #168
It **is not** working properly for task names, that have hyphens.
`/group/app` properly translates into `app-group.marathon.mesos`
But `/group/app-name` or `/group-name/app` or, of course, `/group-name/app-name` do not seem to translate properly.

[2015-11-16 17:33] sargun commented on #223
See: https://github.com/mesosphere/mesos-dns/pull/352

[2015-11-16 17:52] #254 closed

[2015-11-16 17:59] sargun commented on #252
I think that 1-2 this will be apparent during scale testing. xref #351.

[2015-11-16 18:07] sargun commented on #211
xref #351

[2015-11-16 21:10] jdef commented on #168
Can you provide a specific example of a /group-name/app-name that's failing
to translate properly for you?

On Mon, Nov 16, 2015 at 11:55 AM, UndeadBaneGitHub <notifications@github.com

[2015-11-16 21:26] UndeadBaneGitHub commented on #168
This turned out to be an issue of length and truncation - I overlooked the
24 symbols length limitation.
But that raises another problem: if there are several groups-in-groups with
more or less long names, the truncation creates a possibility of different
services being considered one. Here is an example:
"/group-name-a/subgroup-name-a/app" and "/group-name-a/subgroup-name-a/app"
would get truncat

[2015-11-16 21:28] jdef commented on #168
yes we should revise. hence #145

[2015-11-16 22:11] sargun commented on #186
@s-urbaniak Might you be able to comment on this?

[2015-11-16 22:12] #223 closed

[2015-11-17 00:43] sargun commented on #157
So, it seems like you need another byte for FNV64a to get the same likelihood of collisions as SHA1.  Given that name length is precious in DNS, and all of this is precomputed, I err to use SHA1. Especially, because there's less code involved. In fact, we can make the hashString function much simpler:

[code]

[2015-11-17 03:08] jdef commented on #157
ok, sgtm. we can revisit performance if it becomes a problem later

[2015-11-17 03:55] sargun commented on #157
See: https://github.com/mesosphere/mesos-dns/pull/356

[2015-11-17 04:53] sargun commented on #331
Just curious, what's the ask for a Mesos DNS docker image about? Can the community articulate their needs?

[2015-11-17 05:46] jdef commented on #331
The idea was the docker is the standard way that people want to download
and run stuff. A "de facto cloud standard". There was a lot of discussion
as to the relevance of this w/ respect to mesos-dns since this project
releases go binaries. We decided that providing a docker images was
relevant given that's how many people want to start using something (even
if they switch to using native binaries

[2015-11-17 08:55] tobilg commented on #331
@sargun The motivation in my case is that I try to avoid installing binaries to my cluster nodes' OS, because I want to avoid having potential updating/deinstallation/etc. problems. So, everything I run is based on containers. Another thing is that I want to potentially be able to spin up new nodes as quickly as possible, and IMO container images from a private (local) registry are the fastest way

[2015-11-17 15:19] #326 closed

[2015-11-17 17:08] sargun commented on #237
@discordianfish Is this what your PR that you merged today does?

[2015-11-17 18:03] #157 closed

[2015-11-17 19:46] rodrickbrown opened #357 "Unable to resolve marathon apps with / in AppID names."
Is it possible to resolve app-ids with / in them when using mesos-dns?    I have apps defined like the following:

 /kafkadirectconsumer/es-services
/mesos/spark-shuffle-service

However trying to resolve any appID with a “/“ in the name returns NXDOMAIN  In the above case I thought the following should work

$ dig mess_spark-shuffle-service.marathon.mesos   I don’t get the IP of those service.

H

[2015-11-17 19:53] parker20121 commented on #357
Try es-services.kafkadirectconsumer.marathon.mesos

or spark-shuffle-service.mesos.marathon.mesos

[2015-11-17 19:56] rodrickbrown commented on #357
dig +short es-services.kafkadirectconsumer.marathon.mesos
dig +short spark-shuffle-service.mesos.marathon.mesos

Both queries return nil but services w/o the / in the AppID return fine.

[2015-11-17 20:08] parker20121 commented on #357
try es-servcies-kafkadirectconsumer.marathon.mesos and

spark-shuffle-service-mesos.marathon.mesos

[2015-11-17 20:15] rodrickbrown commented on #357
@parker20121  Thanks that is indeed working... I find it this convention very odd

/group/app basically becomes app-group.marathon.mesos why not just use the same prefix as the defined name group-app.marathon.mesos ?

Either way all is working now! This should probably be documented somewhere.
Thanks for the assistance please close this issue.

[2015-11-17 20:17] parker20121 commented on #357
I can't close it. I think you're able too.

[2015-11-17 20:29] jdef commented on #237
#330 (merged today) should take care of proper truncation. is there a need
for a separate follow-up ticket re: the "randomly load balance" part?

On Tue, Nov 17, 2015 at 12:08 PM, Sargun Dhillon <notifications@github.com>
wrote:

[2015-11-17 21:01] jdef commented on #237
if we're already shuffling then it sounds like we're all set with this
ticket.

On Tue, Nov 17, 2015 at 3:45 PM, Sargun Dhillon <notifications@github.com>
wrote:

[2015-11-17 21:19] sargun commented on #237
:smile_cat:

[2015-11-17 21:19] #237 closed

[2015-11-18 10:40] s-urbaniak commented on #186
@mconigliaro sorry about the very late reply, but indeed the mesos-dns codebase changed quite a bit since your question.

The current version of mesos-dns (v0.4.0 and up) indeed does not print this message any more (as it was misleading) and as @sargun already correctly explains the initial master is the empty string `""` eventually converging once zookeper gives us the necessary information.

The

[2015-11-18 14:52] #186 closed

[2015-11-18 23:42] sargun commented on #198
@nemothekid Can you point your hosts directly at mesos-dns versus putting BIND infront of Mesos-dns?

[2015-11-19 01:02] sargun commented on #325
This will get fixed as part of the 0.5.0 release which should happen this week.

[2015-11-19 01:29] nemothekid commented on #198
Here's what I get when I use mesos-dns directly

[code]

[2015-11-19 02:04] sargun commented on #198
Can you provide a tshark capture of the query?

[2015-11-19 18:59] sargun commented on #343
@amulyas Can you provide PCAP for all port 53, udp packets on the machine running Mesos-DNS?

[2015-11-19 19:01] sargun commented on #342
Depends on #257

[2015-11-19 22:06] sargun commented on #325
Fixed.

[2015-11-19 22:06] #325 closed

[2015-11-20 00:54] sargun commented on #311
Updated.

[2015-11-20 00:54] #311 closed

[2015-11-21 10:13] dudi123456 opened #363 "Proposal: Dynamic external srv Records need to be add in dns"
Related to #132

Reasoning:
    1. we are using mesos cluster for internal cloud. There are many services outside of mesos cluster, for example: mysql database, oracle database, legacy system, legacy hadoop cluster.  The app deployed in mesos want to use these external services.
    2. K8s define services wonderfully and the mesos-dns may borrows some design.

[2015-11-21 17:07] letusfly85 opened #364 "when using mesos-dns, mesos-master cannot detect mesos-slave."
### 1. What version of the project are you using?

v0.5.0-linux-amd64

### 2. What operating system and processor architecture are you using?

ubuntu 14.04 on AWS ec2

### 3. What did you do?

I launched 3 instances.

1. mesos-master
1. mesos-slave
1. mesos-dns

mesos-master and mesos-slave 's `resolve.conf` use only `mesos-dns` address.

And, I run mesos-dns process.

### 4. What did you expect t

[2015-11-21 17:18] sargun commented on #363
I'm currently in the process of writing documentation for this. I'd love to get your feedback when I get to a presentable level. Currently, we're recommending that if people have external services, they publish them into a third party service discovery system. Then, they point Mesos-DNS at a bind resolver which delegates these external services to a third party SDS.

Longer-term we're looking at w

[2015-11-21 17:48] sargun commented on #364
So, I'm attempting to reproduce this issue. Are you running DCOS, or are you running Mesos-DNS on a cluster that you built?

Can you provide the Mesos-DNS log? You can get them on DCOS like so: journalctl -n 100 -u dcos-mesos-dns.service

[2015-11-21 18:04] letusfly85 commented on #364
thank you for replying.

I'm running Mesos-DNS on a cluster that I build.

here is Mesos-DNS log below. verbose level, I gave 1.

[code]

[2015-11-21 18:05] letusfly85 commented on #364
And I use ubuntu 14.04, I don't use systemctl

[2015-11-21 18:07] letusfly85 commented on #364
after some try and error, I succeeded starting mesos-slave, however I cannot start `etcd` using `dcos package install etcd`...

here is a script I started mesos-slave.

on slave node, I did it below.

[code]

if I missed a parameter `-zk=zk://master.mesos:2181/mesos`, I couldn't start slave.

[2015-11-21 18:10] letusfly85 commented on #364
And after starting slave, I got many stdout like below..
through mesos master web ui, many times etcd task failed again and again...

[code]

[2015-11-21 18:10] letusfly85 commented on #364
If you want to some info, please let me know.

Thank you.

[2015-11-21 18:12] sargun commented on #364
So, it sounds like Mesos-DNS is working fine, the problems you're having are with the ETCd framework?

[2015-11-21 18:13] sargun commented on #364
Can you go to one of those container's sandboxes, and dump their stderr, and stdout?

[2015-11-21 18:15] letusfly85 commented on #364
Sure of course, however today I got limitation of working, next day I will send you..sorry :sweat_drops:

[2015-11-22 01:15] letusfly85 commented on #364
I got it.

when I started like below, I succeeded start mesos-slave.

[code]

I missed `docker` in containerizers paramters.
However, from `service`command, I still cannot start mesos-slave... and there are no log..

[2015-11-22 03:07] sargun commented on #364
This doesn't sound like a Mesos-DNS problem, I'm curious as to why you think it's a Mesos-DNS issue?

[2015-11-22 08:11] letusfly85 commented on #364
Sorry, I misunderstood service discovery of Mesos-master to Mesos-slave.
Through, zookeeper, mesos-master detects mesos-slave. (correctly, launching mesos-slave, slave tell zookeeper, and master handle it, I think).

However, using Mesos-dns, it would change,,,,,I misunderstood.

[2015-11-22 08:13] letusfly85 commented on #364
And, some of the `dcos package install ${app}` doesn't work, so, I wondered where its cause is due to dns or slave or application definition (such as `marathon.json`).

[2015-11-23 16:53] puneetguptanitj commented on #334
I also was facing the same issue after removing netinfo from IPSources it started giving me the right IPs

"IPSources": ["mesos", "host"]

[2015-11-24 01:21] sargun opened #365 "We return NXDOMAIN incorrectly"
Version: Mesos-DNS 0.5.0

Dig directly against Mesos-DNS:
[code]

Dig against BIND:
[code]

These two (the dig against Mesos-DNS, and BIND) should be nearly alike, but they aren't. This is because we're returning an NXDOMAIN, instead of a success code, and BIND is negatively caching that.

[2015-11-24 01:37] sargun commented on #365
The logic to handle these empty queries is here:
https://github.com/mesosphere/mesos-dns/blob/b1c572141fcaaca05469766b1b531d446fb6a2c9/resolver/resolver.go#L372-L392

I don't totally understand why it's: `qType == dns.TypeAAAA && len(rs.SRVs[name])+len(rs.As[name]) > 0`

Shouldn't it be (qType == dns.TypeAAAA) || (len(rs.SRVs[name])+len(rs.As[name]) > 0)?

The first part is because we don't handle

[2015-11-24 02:07] sargun commented on #365
I have a PR to fix this - See: #366.

[2015-11-24 05:05] sargun commented on #365
@spacejam What do you think?

[2015-11-24 07:36] dudi123456 commented on #363
Thanks for reply. In out env, users want to admin their services in one place.  BTW, if we use your recommendation, which software should we use? SkyDNS, Haproxy+Bamboo?
One more, in our env, we use flannel to make docker containers across hosts communicate. but in the mesos-dns, the srv show like this:
[root@mesos-slave1 ~]# dig _tomcat12._tcp.marathon.mesosasiainfo SRV

; <<>> DiG 9.9.4-RedHat-9

[2015-11-24 07:54] sargun commented on #364
@letusfly85 I think it's best to take these comments to the DCOS community room? Or if the specific ${app} has a github repo, that would work too.

Is it okay if I close this? @letusfly85

[2015-11-24 07:55] sargun commented on #365
I think that this PR is point release worthy of releasing v0.5.1 -- opinions?

[2015-11-24 08:24] letusfly85 commented on #364
@sargun

Yes, I comments to the DCOS community room. (And thank you! for replying in the room!)

Yes, it's okay to close this.

Thank you!

[2015-11-24 09:15] #364 closed

[2015-11-24 09:16] sargun commented on #338
We found the root cause of this. See #365. There will be a release out shortly to fix.

[2015-11-24 15:36] jdef commented on #365
I'd also like to see a fix for changing the default config.ipsources value,
dropping netinfo from the default list.

On Tue, Nov 24, 2015 at 2:55 AM, Sargun Dhillon <notifications@github.com>
wrote:

[2015-11-24 16:40] sargun commented on #365
@jdef When did we add netinfo to the list?

[2015-11-24 16:45] jdef commented on #365
"netinfo" was added back in Sept/Oct, for the 0.4 release I think - we
didn't realize that containerizers (like docker containerizer) would be
populating this; we were under the impression that it would be used by
modules only.

On Tue, Nov 24, 2015 at 11:40 AM, Sargun Dhillon <notifications@github.com>
wrote:

[2015-11-24 17:02] sargun opened #369 "Remove "netinfo" from IPSources"
We added NetInfo to IPSources in 0.4, which allows Mesos-DNS to pull A record information from the "NetworkInfo" field in state.json. In our understanding this was only to be used by the modules which were using this for customizing the IPs per container.

Unfortunately, this was not the case! The docker containerizer uses NetworkInfo as well, and can set the inside container of the IP in NetworkI

[2015-11-24 17:02] #365 closed

[2015-11-24 17:03] #338 closed

[2015-11-24 17:13] sargun commented on #369
@jdef As a stop-gap, I think rather than removing "netinfo" as a source in config.go, we add the "sources" field to config.json.sample, and set it to ["mesos", "host"]. That way, it doesn't break old installations relying on the behaviour, but everyone who starts from the config.json.sample is in good shape.

[2015-11-24 18:48] jdef commented on #369
Some thoughts:

- if we're not removing it from the coded defaults, then it needs to be
**very** clear from the documentation that - by default - users can expect
to encounter problems w/ mesos-dns and a docker-based cluster unless they
remove `netinfo` from `config.ipsources`. though i'm more inclined to make
the change to the coded defaults for ipsources since docker, by default,
breaks mesos-dn

[2015-11-25 00:15] sargun commented on #198
@nemothekid Can you test with Mesos 0.5.1?

[2015-11-25 16:03] jdef opened #373 "AS cluster operator I WANT to limit which Tasks are listed in response to DNS/HTTP queries"
discovery-info provides 3 levels of visibility:
- framework
- cluster
- external

it could be useful if mesos-dns could be configured to ignore tasks w/ DI.visibility=framework. this approach may also help to rate-limit events that are eventually transmitted to mesos-dns, once mesos-dns can stream events from master w/ filters

mesos-dns could offer a config option `min-visibility` that defaults t

[2015-11-25 18:24] sargun commented on #132
I would nudge to using BIND for this, and putting BIND behind Mesos-DNS for this purpose.

[2015-11-27 19:40] sargun commented on #198
@MaximeDevalland Could you check as well?

[2015-11-30 14:15] stuart-warren commented on #132
Closing in favour of #274

[2015-11-30 14:15] #132 closed

[2015-12-02 11:11] asdfsx opened #376 "version.go hasn't changed for a long time"
Although the version has changed many times, but the version.go is still "dev"
It's not a big problem~~~, but every time I use "mesos-dns -version", it feels a little strange

[2015-12-02 14:57] sargun commented on #376
@asdfsx Is there any reason why you're not using the builds from Github / Circle-CI? Those have the version number set.

[2015-12-03 03:46] asdfsx commented on #376
Actually I'm trying to build an mesos-dns docker image based on alpine linux. So I do it in an quick and easy way, compile it on my laptop. I'll try to use Circle-CI later.

[2015-12-03 03:51] #376 closed

[2015-12-03 16:52] gkleiman opened #377 "Labeling schema should also be applied to task.DiscoveryInfo.Name"
See:

https://github.com/mesosphere/mesos-dns/blob/e65fcabd5e5c0f7e21d65fd927914514e6d99a5f/records/generator.go#L380-L391

mesos-dns will apply `spec` on `task.Name`, but not on `task.DiscoveryInfo.Name`, this leads to inconsistent naming if a task specifies `DiscoveryInfo.Name`.

[2015-12-03 17:02] gkleiman opened #378 "Update naming.html to reflect all valid IPSources values"
From http://mesosphere.github.io/mesos-dns/docs/naming.html:

[code]

[2015-12-09 20:27] cmaloney opened #379 "Mesos-DNS should not try and guess it's IP"
Running / deploying DCOS we've found that software does not have a simple / reliable way to get the "correct" IP address for the host. Trying to do a reverse lookup on the hostname doesn't work (hostnames aren't set right or there isn't a global set of reverse-DNS entries). Looking up the default network route doesn't work (the network applications on top of DCOS should talk on is set to the defau

[2015-12-09 20:29] jdef commented on #379
@sargun are we still using milestones for mesos-dns? If so should this be added to 1.0?

[2015-12-10 16:41] naxhh commented on #332
Same here.

Netinfo as default starting from 0.25 makes no sense because no application outside that slave is able to reach the services.

Maybe is a good idea to default to host, netinfo? or I'm missing some usecase here?

[2015-12-10 16:53] sargun commented on #332
(1) We assume you used host networking with docker
(2) We've filed a ticket to fix this issue in Mesos: https://issues.apache.org/jira/browse/MESOS-4113

[2015-12-10 17:12] naxhh commented on #332
Thanks for the info :)

[2015-12-11 16:26] magicrobotmonkey commented on #198
I'm seeing this same issue. From tcpdump, it looks like host is making 3 requests:
[code]
Looks like NXDomain on the mail record is messing with host. `host -t A master.mesos` works fine, as expected.

I have no clue what the right solution here would be. It seems like its not a problem with mesos-dns unless you want to start emailing your service endpoints?

[2015-12-11 17:05] sargun commented on #198
@magicrobotmonkey What version of Mesos-DNS are you using?

[2015-12-11 23:04] quofelix commented on #61
Another use case for our system (Quobyte). Quobyte already finds its registry nodes via SRV lookups. However, as we export RPC and HTTP ports, there are SRV records that contain both port numbers and the resulting SRV records are not usable. So +1 for anything that lets me specify the port by index or even name.

[2015-12-15 16:09] magicrobotmonkey commented on #198
0.1.2

[2015-12-15 20:27] magicrobotmonkey commented on #198
Yea, I built my own container on 0.5.1 and it's working much better. Sorry for the FUD, but someone might want to update mesosphere/mesos-ui over at docker hub...

[2015-12-16 15:41] sargun commented on #379
Just curious - which IP is given for ip_detect? If the system has multiple IPs?

[2015-12-16 21:04] lloesche opened #383 "Allow configuration of CIDRs for which mesos-dns will allow recursion"
At the moment mesos-dns will allow recursion for anyone able to talk to it. It would be nice if there was a config option like bind's
[code]
that limits which hosts are allowed to use mesos-dns as a resolver. Otherwise a mesos-dns that's available on the internet is automatically an open resolver.

[2015-12-16 22:10] sargun commented on #383
I would say that security is the job of IPTables or putting a resolver in front of Mesos-DNS. In addition, does Mesos expose any confidential information, except by means of brute force?

[2015-12-17 07:01] lloesche commented on #383
The problem is a different one. In DNS you distinguish between zones the nameserver is authoritative for and those that he is just a dumb resolver for. For instance in power-dns those concerns are separated into two different unix processes. One for serving the authoritative zones (in the case of mesos-dns that would be .mesos) and one for resolving other domains on behalf of the requesting client

[2015-12-17 17:57] sargun commented on #383
Why couldn't you put BIND infront of Mesos-DNS, and have BIND do the filtering?

[2015-12-18 15:47] lloesche commented on #383
You could do that if Mesos-DNS supported zone transfers. In that case you might put bind in front of it and configure the mesos zone as a slave zone on bind and turn off recursion. But Mesos-DNS doesn't seem to have AXFR support. At least it didn't work for me when I tried to transfer the mesos zone from localhost.

In any case Mesos-DNS is a recursor by default (Google DNS is preconfigured in the

[2015-12-18 17:52] sargun commented on #383
(1) You can disable recursion in Mesos-DNS in the configuration file

(2) You can configure Mesos-DNS as an upstream in bind - as a forwarding zone.

[2015-12-18 21:25] lloesche commented on #383
Then maybe we should remove recursion as a function in Mesos-DNS entirely and make the default architecture for those who need recursion a combination of bind and Mesos-DNS.
At least then the user has to explicitly configure it. Right now he just gets it by default even if all he wants is the Mesos service discovery part of Mesos-DNS.

[2015-12-23 18:55] scalp42 commented on #332
@sargun more discussion on that ticket btw

[2015-12-23 19:04] scalp42 commented on #334
@jdef any chance you could add some insight to https://issues.apache.org/jira/browse/MESOS-4113

[2015-12-24 00:39] cmaloney commented on #379
Entirely up to the sysadmin, whatever they think is most appropriate for Mesos internal communication.

[2015-12-24 00:48] sargun commented on #379
Do we recommend that people supply an IP that's routable?

[2015-12-24 00:56] cmaloney commented on #379
The answer is it's the right IP to use for their datacenter. We build out a preflight check harness to ensure that it's a IP that works correctly.

[2015-12-27 16:51] ferhatsb opened #384 "Resolving Marathon master"
Hi,
We have Marathon master deployed to vm with 2 interfaces, one is external and other is private. Marathon hostname is set to private, when we try to access marathon master via mesos-dns like;

dig marathon.mesos

 mesos-dns returns external ip, instead of private. On the other hand all other resolves including leader.mesos working as expected.
How can we get private ip of Marathon master from m

[2015-12-29 22:31] jgarcia-mesosphere commented on #164
We have problems with using `master.mesos` or `leader.mesos` because the ZK client grabs the first IP it sees for the domain name and continues to attempt connection with that host. In the event of master failover, this can cause the machine to neglect to check other servers.

Generally speaking, this would be a real nice-to-have for all manner of services that follow that resolve--and-cache DNS b

[2015-12-29 23:13] sargun commented on #164
What's the complexity of fixing the ZK client?

[2016-01-01 01:15] jdef commented on #383
AFAIK recursion was removed a while back and replaced with simple
forwarding.

On Fri, Dec 18, 2015 at 4:25 PM, Lukas Lösche <notifications@github.com>
wrote:

[2016-01-04 20:21] sargun commented on #384
Can you please post your mesos-dns version, config, and state.json?

[2016-01-04 20:23] sargun commented on #383
@lloesche For DCOS, we can do that? We can put a smarter DNS server on localhost and have that in /etc/resolv.conf. That server can either forward or go to mesos-dns depending on the TLD. Does that seem like a reasonable path forward?

[2016-01-04 20:41] sargun opened #385 "Use information exposed on Mesos-4064 to determine task IP"
[MESOS-4064](https://issues.apache.org/jira/browse/MESOS-4064) introduces a new field in state.json that enables us to determine whether Docker containers are bridged or not. The NetworkInfo IP provider can reasonably use this information to make better decisions about which IP to provide. This information will be exposed as part of Mesos 0.27.

[2016-01-04 21:15] jdef commented on #383
doesn't it complicate deployment and ongoing configuration updates to have
a dns service running on every node in the cluster? if we want to make
mesos-dns a secondary service that serves only the .mesos zone, why not run
BIND (or whatever) on the same node as mesos-dns and have it forward .mesos
queries to mesos-dns?

On Mon, Jan 4, 2016 at 3:25 PM, Sargun Dhillon <notifications@github.com>
wrote

[2016-01-04 21:18] jdef commented on #334
xref #385

[2016-01-04 21:31] sargun commented on #383
That would work too. The only reason I suggested that running it on every node in DCOS is that if you're trying to limit access, you don't know the IP addresses of the agents, and if you're trying to limit access, I don't see a way to generate ACLs on the master for all the agent IPs ahead of time.

The way I see it working for DCOS is like the following:
[code]

Then Mesos-DNS on the master can h

[2016-01-11 08:25] Spritekin commented on #334
From the docs:
service.marathon.mesos -> returns the internal container IP
service.marathon.slave.mesos -> Returns the IP of the host of the container

[2016-01-20 19:26] metskem commented on #61
+1

[2016-01-24 00:36] abraithwaite commented on #61
+1

[2016-01-24 07:31] user31459 commented on #61
+1

[2016-01-24 08:15] sargun commented on #61
@aquamatthias When is Marathon going to set DiscoveryInfos on ports?

[2016-01-24 19:05] aquamatthias commented on #61
Planned for Marathon 0.16 (current release)

[2016-02-01 14:03] aglahe opened #387 "dnssec-validation set to auto on bind9 doesn't work with mesos-dns"
It appears, that when bind has dnssec-validation set to _auto_ forwarding on to mesos-dns fails.  However, setting it to _none_ appears to fix the issue.

BIND 9.9.5-3ubuntu0.7-Ubuntu (Extended Support Version) running on Ubuntu 14.04

[2016-02-02 21:00] ssk2 opened #388 "Google Compute Engine cluster provisioning tool is no longer active"
The Google cluster provisioning tool mentioned here is deprecated and soon to be turned off: http://mesosphere.github.io/mesos-dns/docs/tutorial-gce.html

This tutorial should be rewritten to no longer mention it.

[2016-02-02 21:33] joel-hamill commented on #388
https://github.com/mesosphere/mesos-dns/pull/389

[2016-02-02 21:33] #388 closed

[2016-02-03 02:30] sargun opened #390 "Cleanup insertRR"
insertRR currently will generate a massive amount of CPU if there are a large number of tasks. Part of this is due to the exists function, which has a naive loop per slave to check for colliding records. We need to do performance testing, and improvement for high-task count clusters.

[2016-02-03 02:36] jdef commented on #390
it would be great if we could somehow decide which tasks were not worth
adding to the recordset at all. maybe if discovery-info.visibility ==
"none" ?

On Tue, Feb 2, 2016 at 9:30 PM, Sargun Dhillon <notifications@github.com>
wrote:

[2016-02-03 05:27] cmaloney commented on #390
On a Mesos cluster with 8k tasks, runtime.memeqbody starts taking ~22% in a `perf top`, and `github.com/mesosphere/mesos-dns/records.(*RecordGenerator).exists` takes ~9%. The cluster had 10 agents, 800 tasks per agent. @sargun has some ideas / did some digging and found a lot more calls to the runtime.memeqbody than needed. Sent you the state.json

[2016-02-03 23:20] ssk2 opened #391 "Tutorial to run Mesos DNS should not rely on constraints"
It's bad practice to pin the tutorial to one node - the documentation should suggest how it should be run in production (multiple nodes?) and how you might point an ELB or similar to the DNS servers.

[2016-02-04 15:55] jdef commented on #390
thinking that it should be easy to covert the records container from a
slice to a `map[string]struct{}`. we're not really concerned about order
any way. maps are just as easy to iterate over and queries for exact
matches is much faster

On Wed, Feb 3, 2016 at 12:27 AM, Cody Maloney <notifications@github.com>
wrote:

[2016-02-05 16:41] akamalov opened #393 "Mesos-DNS resolution For Containers Deployed in a Group"
Wondering if anyone has seen it or knows the workaround or if I am doing something wrong.  I have deployed a sample three tier container group in a Mesos group. Here is my JSON file:

[code]
Now, using Mesos-DNS, I can't seem to resolve them. If I just deploy a simple app without a group, Mesos-DNS resolves it fine. But when in group, it can't find it. (example: tried to resolve **mongo004.maratho

[2016-02-05 20:15] akamalov commented on #393
Answering my own question:

To resolve a container in a group provide group name as a part of a container:

[code]

[2016-02-05 20:15] #393 closed

[2016-02-08 17:24] tdna commented on #167
I've disabled dnssec finally.
Now it seems to be working.

[2016-02-16 20:47] seglo commented on #163
I ran into a similar problem, but only while debugging why my ansible playbook as part of exercise 16.  The playbook executed successfully, yet it's clear it didn't install correctly.  When I did some more troubleshooting the mesos-dns executable didn't exist and when attempting to build it manually ran into this problem.  I've since changed my `Vagrantfile` and rebuilt my cluster with 1024MB RAM

[2016-02-18 10:01] kevinkga opened #397 "Application IDs with slashes not being resolved"
Here is my setup:
[code]

And it works fine when the application(testapp) does not have any slashes in the id as follows:
[code]
But now if I destroy that app (/web/testapp) and re-create it using an id with slashes as follows, it can't resolve the application:
[code]

[2016-02-18 12:50] ferhatsb commented on #384
Hi Sargun,

mesos-dns version mesos-dns-v0.5.1-linux-amd64

config.json
[code]

mesos master state

[code]

[2016-02-18 16:08] jdef commented on #397
Please double-check the task name that exists in mesos for your task.
mesos-dns uses these rules when substituting chars:
http://mesosphere.github.io/mesos-dns/docs/naming.html#notes

On Thu, Feb 18, 2016 at 5:01 AM, kevinkga <notifications@github.com> wrote:

[2016-02-19 09:54] kevinkga commented on #397
That's very interesting indeed. It turns out that mesos shows the app name as "testapp.web". Following the logic from http://mesosphere.github.io/mesos-dns/docs/naming.html#notes this means that substituting the characters yields: testapp-web and therefore pinging testapp-web.marathon.mesos works.

Maybe we could have this stated more clearly in the documentation?

[2016-02-19 09:54] #397 closed

[2016-02-23 17:02] h0tbird opened #398 "Mesos DNS and Marathon HealthCheck COMMAND. How do they interact?"
This is my mesos dns config:
[code]

**HealthCheck TCP (works)**

If I run this on Marathon:
[code]

I get this logs from mesos dns (looks good to me). The IP is always `10.128.3.130` which is the right one assigned to the container by Docker via Flannel:
[code]

**HealthCheck COMMAND (fails)**

If I run this on Marathon:
[code]

I get this logs from mesos dns (looks bad). The IP is initially `10.

[2016-02-25 02:09] sargun commented on #391
People really shouldn't run Mesos-DNS on Mesos IMHO. Why do you think they should?

[2016-02-25 02:09] sargun commented on #387
We do not plan to support dnssec.

[2016-02-25 02:09] #387 closed

[2016-02-25 03:30] jdef commented on #387
Can we make this more apparent on the project README? It's come up several
times and it behooves us to properly set expectations.

On Wed, Feb 24, 2016 at 9:09 PM, Sargun Dhillon <notifications@github.com>
wrote:

[2016-02-25 12:28] aglahe commented on #387
Is there a way that we can have dnssec turned on for the rest of DNS....but not for anything that forwards on to MesosDNS?  I guess we could take it out of the global settings and put make set it to "no" in the section that forwards to MesosDNS

[2016-02-25 12:35] crucidal commented on #276
It's been a while...
This issue has been resolved and works properly in v0.5.1
thanks.

[2016-02-25 12:35] #276 closed

[2016-02-25 17:30] cneth commented on #286
+1 for PTR's for A records created w/container IP's.  Here's a real use case:  Apache Kafka's zookeeper client does a reverse lookup on the server it is connecting to so it can give a nice name for the thread it's using.  It also has a fixed timeout for the connection to be ready.   Since nobody will ever resolve the reverse lookup, you're at the mercy of how long it takes the external resolver to

[2016-02-25 18:26] sargun commented on #398
Currently not at all. We're tying to get the Marathon team to move their healthchecks into Mesos, and then we surpress unhealthy DNS records.

[2016-02-25 22:34] sargun opened #400 "Remove Legacy handling of DiscoveryInfo - REMIND ME June"
Related to: https://github.com/mesosphere/mesos-dns/pull/399

We need to remove the lines:

		// LEGACY TODO: REMOVE
		ctx.taskName = task.DiscoveryInfo.Name
		rg.taskContextRecord(ctx, task, f, domain, spec)
		// LEGACY, TODO: REMOVE

[2016-02-25 22:34] #377 closed

[2016-02-26 01:07] sargun commented on #385
Apparently people want this behaviour.

[2016-02-26 01:07] #385 closed

[2016-02-26 17:33] sargun commented on #384
I don't see the Marathon framework registered with your Mesos master. I'm unsure of how it would resolve it?

[2016-02-26 17:36] #198 closed

[2016-02-26 19:25] ssk2 commented on #391
I wasn't addressing that, more the fact that the tutorial relies upon an anti-pattern for Mesos applications in general.

[2016-02-29 19:54] jgarcia-mesosphere opened #402 "Provide endpoint with list of all registered apps"
To provide for troubleshooting, please provide an endpoint where a user can collect all existing names.

[2016-02-29 21:21] sargun commented on #402
Do you want to see all registered frameworks? Or an enumeration / debug endpoint with all records?

[2016-03-01 18:00] sargun opened #405 "Break out HTTP JSON data representations into separate package"
We have a bunch of structures that are exposed via our HTTP API. We should probably break these out into a separate package, in case we want to enable simple code reuse.

[2016-03-01 22:40] #402 closed

[2016-03-04 19:14] sargun opened #406 "Release v0.5.2"
We are synching up the mesos-dns release cadence with about every 6 weeks. We need to release v0.5.2.

[2016-03-05 02:24] sargun opened #408 "Benchmark improved Record Insertion algorithm"
Benchmark the work that was done as part of this PR: https://github.com/mesosphere/mesos-dns/pull/395

[2016-03-07 08:44] riverxing opened #409 "mesos-dns cannot startup and it seems some port error"
`Mar 07 16:33:05 master1 polkitd[758]: Registered Authentication Agent for unix-process:32305:457184784 (system bus name :1.42314 [/usr/bin/pkttyagent --notify-fd 5 --fallback], object path /org/freedesktop/PolicyKit1/AuthenticationAgent, locale en_US.UTF-8)
Mar 07 16:33:05 master1 systemd[1]: Stopping Mesos-DNS...
Mar 07 16:33:05 master1 systemd[1]: mesos-dns.service: main process exited, code=ex

[2016-03-07 17:21] jdef commented on #409
That's an ephemeral port (39890) used by the client side of a TCP
connection that mesos-dns establishes with zk -- it's completely ordinary.

Please increase the verbosity of the mesos-dns logs and re-test.

On Mon, Mar 7, 2016 at 3:44 AM, riverxing <notifications@github.com> wrote:

[2016-03-07 17:55] #408 closed

[2016-03-08 01:43] riverxing commented on #409
I am so sorry,it is my fault

[2016-03-08 03:02] #406 closed

[2016-03-08 03:02] #398 closed

[2016-03-08 03:03] #384 closed

[2016-03-08 03:03] sargun commented on #383
Have you looked at IPTables as a potential solution as well?
http://sf-alpha.bjgang.org/wordpress/2013/01/iptables-for-common-dns-amplification-attack-on-recursive-dns-inside-your-network/

[2016-03-08 03:03] #383 closed

[2016-03-08 03:05] sargun commented on #351
We've decided an alternate approach.

[2016-03-08 03:05] #351 closed

[2016-03-11 17:00] jazzista88 commented on #391
Hi guys

I am really lost on mesos-dns
The tutorial i followed

https://open.mesosphere.com/advanced-course/building-and-running-mesos-dns/

Is not clear enogh.
I have done all the steps, but when i run the command, which works on slave command line, in marathon the app goes in running and waiting continuously. I need some suggestions on which kind of IPs addresses i have to use...for instance, in

[2016-03-14 16:35] jdef commented on #286
related https://www.ietf.org/rfc/rfc2317.txt

[2016-03-14 19:02] sargun commented on #286
If you have external resolution enabled, your RFC1918 space should be delegated to IANA's blackhole servers.
[code]
PTR Query:
[code]

[2016-03-14 20:33] jdef commented on #286
xref https://tools.ietf.org/html/rfc6304

On Mon, Mar 14, 2016 at 3:02 PM, Sargun Dhillon <notifications@github.com>
wrote:

[2016-03-19 00:38] #409 closed

[2016-03-21 06:27] AI-PaaS opened #413 "How to get container ip by the http rest api?"
Hello:
        We use mesos-dns as the mesos cluster dns and its configuration is "netinfo" and "host". and we use flannel as the docker network plugin. So, the containers can access through multi host. We can get  the container ip by digging commands, but can not get the container ip by http api?

Can someone help us? Thx.

[2016-03-21 14:58] jdef commented on #413
the DNS and HTTP interface deliver data from the same backend store. can
you provide a log of a terminal session showing the exact problem that
you're observing?

On Mon, Mar 21, 2016 at 2:28 AM, dou xiaofeng <notifications@github.com>
wrote:

[2016-03-22 02:41] AI-PaaS commented on #413
/etc/mesos-dns/config.json
{
  "zk": "zk://10.1.241.122:2181,10.1.241.123:2181,10.1.241.124:2181/mesos",
  "masters": ["10.1.241.122:5050", "10.1.241.123:5050", "10.1.241.124:5050"],
  "refreshSeconds": 60,
  "ttl": 60,
  "domain": "ai",
  "port": 53,
  "resolvers": ["10.1.228.199"],
  "httpon":true,
  "dnson":true,
  "httpport":8123,
  "timeout": 5,
  "IPSources":["netinfo","host"]
}

we deploy t

[2016-03-22 02:44] AI-PaaS commented on #413
As the above output, we can get container ip from dig command, but can not get it from http api. we use marathon: 0.15.3, mesos-dns:0.5.0

[2016-03-22 14:34] jdef commented on #413
Have you tried to query /v1/hosts/{host}? That would be the analogue of the
A dig query that gives you container IPs

On Mon, Mar 21, 2016 at 10:44 PM, dou xiaofeng <notifications@github.com>
wrote:

[2016-03-23 06:47] AI-PaaS commented on #413
Thx. yes, from hosts api i can get the container ip

[2016-03-23 06:47] #413 closed

[2016-03-23 09:07] garyelephant commented on #357
suppose we have marathon application id: `/a/b`, is it really right to resolve the dns like `b-a.marathon.mesos` ? Since I read [the doc](http://mesosphere.github.io/mesos-dns/docs/naming.html), I think it should be `b.a.marathon.mesos`.

Is the doc haven't been updated ?

[2016-03-31 19:33] zhitaoli opened #414 "Allow framework to better customize record names with dots in it"
Hi,

I've been working on introducing DiscoveryInfo from Apache Aurora to Mesos, and a pet sub-project would be get Mesos DNS to work so people have one more alternative of using the software.

The small WIP change to Aurora is at https://reviews.apache.org/r/45177/.

While the connecting the Mesos master to mesos-dns is easy, the records we get is not really usable.

For example, an Aurora job 'v

[2016-04-04 07:54] tobilg commented on #391
@sargun Could you please elaborate why people shouldn't use Mesos DNS on Mesos? As I run Mesos DNS in a Docker container on CoreOS, I'd really be interested in potential downsides of this approach.

The motivation behind running it on Mesos in a container is that I don't want the applications I run on my clusters "pollute" the OS installation, that's why I run everything via Docker when possible.

[2016-04-06 07:22] ktf opened #415 ""failed to unpack truncated message" errors"
I've a mesos-dns setup which works quite fine, however I do get a bunch of messages:

[code]

any idea of what is wrong / how to debug this?

[2016-04-06 09:53] guenter commented on #286
reverse DNS for hosts is also a requirement for Hadoop. See http://sequenceiq.com/cloudbreak-docs/latest/mesos/

[2016-04-08 07:16] StephenDrewLDS commented on #163
This should probably be added to the vagrantfile setup in the tutorial.

[2016-04-11 19:28] ricardoareis opened #417 "mesos-dns ignore ipAddress{} when a healthchecks was setted"
Hello,

I've used marathon+mesos-dns+calico in a PoC with good results, however when the calico was configured as a docker network plugins and also, a healthchecks marathon was configured
mesos-dns ignore ipAddress clause, changing any record with a hosts address.

with healthchecks

[root@ip-172-16-1-170 ~]# dig @172.16.1.170 test.marathon.mesos +short
172.16.252.219
172.16.252.91

without health

[2016-04-11 20:10] sargun commented on #417
I'm not sure we have any logic that looked at healthchecks. What do you mean exactly?

[2016-04-11 20:10] sargun commented on #415
Could you provide a wireshark capture of your DNS traffic?

[2016-04-11 20:11] sargun commented on #414
If I'm understanding correctly, you're intentionally trying to introduce dots in the domain name?

[2016-04-11 20:13] sargun commented on #391
@tobilg You can run into a bootstrapping problem. Since Mesos doesn't have the idea of dependencies yet, if applications inside of your cluster depend on Mesos DNS, and Mesos DNS hasn't yet come up, you can run into a bootstrapping problem.

We specifically don't do it in DCOS because our Mesos agents themselves rely on Mesos-DNS.

[2016-04-11 20:23] tobilg commented on #391
@sargun Thanks for the clarification. I understand that there can potentially be bootstrapping problems, but the question is with how much probability this can occur.

We bootstrap our clusters first (manually, not via DCOS), and then launch the applications. Furthermore, there is a [official Mesos DNS Docker image](https://hub.docker.com/r/mesosphere/mesos-dns/), and the [docs](https://mesosphere

[2016-04-12 00:10] ricardoareis commented on #417
Sargun,

When any kind of health check was passed, mesos-dns response with a host address, instead of the calico ipam (used as docker network plugin).

I've attached a sample file app.json

[2016-04-12 16:13] jdef commented on #417
would you mind providing a copy of your mesos-dns config?

On Mon, Apr 11, 2016 at 8:10 PM, ricardoareis <notifications@github.com>
wrote:

[2016-04-12 16:18] ricardoareis commented on #417
Hello jdef,

I've updated the issue with a mesos-dns config.

tks
Ricardo

[2016-04-19 05:33] SaMnCo opened #419 "Having "method redeclared" errors"
Hi,

I am building from source on a ppc64le architecture, using Go 1.5

[code]

I have the following:

[code]

Any idea what this can be caused by?

I can also get:

[code]

Thanks in advance,
Best,

[2016-04-22 13:12] denisbetsi opened #420 "Documentation leading to 404"
http://mesosphere.github.io/mesos-dns/resources.html   references

That leads to 404

[2016-04-22 18:25] jdef commented on #420
Looks like we should be linking to http://mesosphere.github.io/mesos-dns/docs/tutorial.html instead of http://mesosphere.github.io/mesos-dns/docs/tutorial-gce.html

[2016-04-23 00:07] #420 closed

[2016-04-26 13:09] abridgett opened #422 "Leaked file descriptors"
We've been running mesos-dns successfully for a while, however earlier today it died, then later on it was starting to become flakey.  The logs showed:
[code]
and running "lsof -p" on the process showed a full FD table (I'm aware that we can increase this, but this looks like a leak):
[code]

[2016-04-26 13:09] abridgett commented on #422
I should say this was on 0.5.0, I'll upgrade to 0.5.2 but can't see anything in that release that will fix this.

[2016-04-27 21:26] pdxjohnny opened #423 "no_proxy error master cant connect to master"
This https://github.com/mesosphere/mesos-dns/blob/883e8ace58008d18f35bca878175212eea5b6b1f/records/generator.go#L209
is not respecting that `192.168.65.0/24,.dcos` is in the no_proxy environment variable.

[code]

master is at 192.168.65.90, this is a dcos-vagrant cluster

Master log: [m1.log](https://github.com/mesosphere/mesos-dns/files/239419/m1.txt)

The solution to this is probably to check t

[2016-04-28 00:39] jdef commented on #423
mesos-dns is written in Go. Pretty sure that Golang doesn't check CIDR
address ranges for no_proxy:
https://golang.org/src/net/http/transport.go#L892

If the address of the master is a name (and not an dotted IP address) then
no_proxy should be working. However, mesos-dns can pull master information
from ZK and may attempt (don't recall off the top of my head; needs
validation) to resolve, on it's

[2016-04-28 00:58] jdef commented on #423
Confirmed. When we get master updates from ZK every master in the list gets translated to an IP:port pair: https://github.com/mesosphere/mesos-dns/blob/master/detect/masters.go#L46 (and related UpdatedMasters func). By the time we make an HTTP request to the leading master to get state we've totally lost a name (that can be filtered by no_proxy)

[2016-05-01 04:41] Protosac opened #424 "Unknown http.Client field 'Timeout' in struct literal"
Ubuntu 14.10

When I run: `go get -u github.com/exercism/cli/exercism` I get this error. I saw a few older tickets reporting the same thing, but there was no clear solution suggested to resolve this. Anyone know what causes this?

[2016-05-01 20:26] jdef commented on #424
you're probably using a version of Go that's older than what the codebase wants.

[2016-05-04 15:20] micahhausler commented on #257
Is this issue just waiting on a PR? I'd be glad to make one, but would like to know if someone is working on this first.

[2016-05-04 15:52] jdef commented on #257
I think the strategy that we tentatively agreed to was flags that default
to the value of the envvar (if defined) otherwise default to the config
file (which has its own defaults) -- and yes, I believe this is just
waiting on a PR, I'm not aware of anyone working on it.

On Wed, May 4, 2016 at 11:20 AM, Micah Hausler <notifications@github.com>
wrote:

[2016-05-09 14:42] abridgett commented on #422
Still occurs with 0.5.2.

[2016-05-09 14:45] abridgett commented on #422
I should state that 10.1.0.2.is the upstream DNS server, not the mesos-dns server.

[2016-05-10 14:15] abridgett commented on #422
In fact it's even odder - I'm seeing it fluctuate between 12 and 1024.  Maybe it's just being hit by this many requests and is passing them individually?  I'll bump up the number of open FDs and see if that helps

Log shows two sorts of errors:
[code]

[2016-05-10 21:10] Protosac commented on #424
It was a fresh install of Go, using instructions from the website. No prior installations. I never figured out this error but I have no new information to add. Thanks any way.

[2016-05-10 21:10] #424 closed

[2016-05-16 17:38] djosborne opened #426 "Distinguish between routable NetworkInfo and unroutable NetworkInfo"
Mesos DNS' own documentation describes this issue:

This unfortunately means that IP-per-container tasks can't be used alongside standard Mesos tasks without breaking DNS resolution for one or the other. This makes it very difficult to introduce any limited IP-per-container support without breaking networking for standard tasks.

[I raised this problem in the Mesos JIRA, but it has been brought up

[2016-05-17 04:01] wrouesnel opened #427 "Read configuration from environment variables"
Mesos-DNS is pretty likely to get run in a docker container, but the current configuration scheme doesn't really acknowledge that. There are a number of libraries for Go which allow reading configuration out of environment variables as keys - one of these should be adopted as an alternative to bind mounting static configuration into the container.

[2016-05-17 07:30] sargun commented on #426
This is a task for Mesos: https://issues.apache.org/jira/browse/MESOS-4427. There's nothing we can really do to ensure it is reachable, unless you have any suggestions.

[2016-05-17 07:32] sargun commented on #422
Do the number of FDs eventually go down? Or do they stay up?

[2016-05-17 07:33] sargun opened #428 "Add Record Transfer Endpoint"
Add an endpoint to the HTTP API to list all the records, as well as the zone version.

[2016-05-17 07:40] abridgett commented on #422
When I hadn't increased the FD limit I ended up restarting the process (don't _think_ it went down but equally I thought it was a plain leak and so wasn't expecting it to).  However as I mentioned 7 days ago then I did see if bounce up and down.  Since increasing to 8192 FDs  it's been okay.

https://mesosphere.github.io/mesos-dns/docs/performance-tuning.html does mention increasing the number I s

[2016-05-17 14:49] jdef commented on #427
#257

[2016-05-17 15:39] djosborne commented on #426
@sargun I agree with that this is a problem that should be addressed in core Mesos, but [Avinash does not](https://issues.apache.org/jira/browse/MESOS-5325?focusedCommentId=15271498&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-15271498).

I have already made two suggestions to fix this - Since the only IPs in Mesos that are unreachable are Docker IPs, I suggested i

[2016-05-18 17:58] jdef opened #431 "our CI should fail if code isn't properly formatted"

[2016-05-18 18:08] sargun commented on #422
Do you know of any good way to recreate this?

[2016-05-19 07:30] abridgett commented on #422
I don't I'm afraid, is there anything I can do to help if I see it again? (stracing? tcpdump seems a good idea - at least to see inbound/outbound requests)   I wonder if it's when mesos-dns has lots of requests and the upstream DNS server rate-limits the responses.

[2016-05-19 08:17] eLvErDe commented on #61
+1

We're having the issue with RabbitMQ instances, no way to identify app port from management interface. Right now my error-proof connection class handle it anyway but it's really dirty :)

Thanks in advance!

[2016-05-19 18:54] frosenberg commented on #417
I see the same issue. I have mesos-dns deployed via marathon and a couple of apps that used DNS for discovery. Now that I turned on health checks on each app, the SRV record now returns the IP of the Mesos slave and not of the docker container that is running on the slave.

[2016-05-19 20:18] sargun commented on #417
@frosenberg Can you publish your state.json with and without healthchecks?

[2016-05-19 20:19] sargun commented on #422
@abridgett Yeah, we don't have any kind of rate limiting / throttling. We solve this problem in DC/OS by having a DNS proxy.

[2016-05-20 07:38] frosenberg commented on #417
@sargun https://gist.github.com/frosenberg/39d104a45a13015a555d665d650fa2b9

There are 4 services in my current deployment that I run locally (one mesos slave). Please not that when I enable the health checks, the `rest-api` service is not healthy, thus being killed an restarted, because its trying to check whether its dependent gRPC services are healthy (which they are individually) but the rest-

[2016-05-20 09:32] sargun opened #432 "Task name crashes Mesos-DNS"
If you start a marathon app named `hello------------------------------------------------------------------------------------------------------------------------------f` it crashes mesos-dns. This is due to the creativity involved in the labels.trimCut function.

@jdef I propose we simplify this function. I say we make it trims the left characters, and then it trims the right characters, and if it

[2016-05-20 19:18] frosenberg opened #434 "DNS name differences on 0.27 vs 0.28"
I'm seeing differences in the generated DNS names between mesos 0.27 and 0.28?

For example: my service is called `classifier-service.myorg` (`myorg` is the group) in marathon

When I query mesos-dns on a mesos 0.27 deployment I see this:
`classifier-service-myorg.marathon.mesos`

When I do the same on 0.28, I see this:
`classifier-service.myorg.marathon.mesos` (not the . instead of the - between

[2016-05-20 20:24] sargun commented on #434
@frosenberg That's really unfortunate! Can you please post the state.json on 0.27 and 0.28?

[2016-05-20 20:27] sargun commented on #434
Can you also use the enumerate endpoint with both state.json versions and post the output? The enumerate endpoint is `<host>:<HTTP API port>/v1/enumerate`.

[2016-05-20 22:14] frosenberg commented on #434
enumerate endpoint of mesos? I cannot seem to find them.

[2016-05-21 15:13] ivucica opened #435 "HTTP frontend does not respect the `listener` option"
Although the `listener` option [seems to be respected][1] when setting up a DNS server, it is [not taken into account][2] when setting up the HTTP frontend.

Either `listener` should be taken into account when it comes to the API, or a new `httplistener` option should be introduced.

At the moment, my workaround is to simply `"httpon": false`, which does have the downside of not having the HTTP fr

[2016-05-21 21:39] #435 closed

[2016-05-22 16:11] frosenberg commented on #434
These files are huge. Anything in particular you look for so I can extract that?

[2016-05-23 18:45] micahhausler opened #437 "Support SSL-enabled Mesos"
## What version of the project are you using?

Affects ≤ 0.5.2
## What operating system and processor architecture are you using?

N/A
## What did you do?

Built mesos with SSL support, ran mesos-dns with config that looks like:

[code]
## What did you expect to see?

Mesos-dns work with SSL-enabled Mesos
## What did you see instead?

[code]
## Additional info

Currently the scheme is assumed to b

[2016-05-23 20:16] sargun commented on #437
@alberts Does your team have a fix in progress?

[2016-05-23 21:38] sargun commented on #434
@frosenberg That's a mesos-dns endpoint.

@frosenberg The tasks

[2016-05-23 23:54] adityats opened #438 "Mesos-DNS: overwrites all containers' /etc/hosts file"
Mesos-DNS overwrites /etc/hosts file on every container on Mesos Agent Nodes regardless of whether the container was spun up by Mesos/Marathon. This leads to other containers which rely on /etc/hosts for external connectivity to become flaky.

Ideally Mesos-DNS should touch only the containers it knows of or was responsible for.

[2016-05-23 23:56] sargun commented on #438
I don't believe this is the case. Pretell, what leads you to believe that Mesos-DNS is rewriting /etc/hosts on every node?

[2016-05-24 00:01] adityats commented on #438
The file /etc/hosts originally had a couple of lines that looked like:

172.17.0.4          <container-id> # Filled by docker
10.122.6.140      node1.controller.local

Now it looks like as below. We had a DCOS setup without Mesos-DNS and that worked just fine and docker versions are the same across our cluster.

10.122.19.180   mesos-dbee6a67-e528-42a4-a093-69fd5fa658d9-S46-40939e9b-ba52-48c8-bfc8

[2016-05-24 00:04] sargun commented on #438
I'm unsure of how Mesos-DNS could write `/etc/hosts` to the agents, given that it's not even running on them. My colleague tells me that Docker is sometimes known to manipulate `/etc/hosts`.

I recommend using [ftrace](https://www.kernel.org/doc/Documentation/trace/ftrace.txt) to determine the process writing the file.

[2016-05-24 00:05] jgarcia-mesosphere commented on #438
We're pretty sure that `mesos-dns` doesn't do this, but we do know that [Docker can manage /etc/hosts](https://docs.docker.com/engine/userguide/networking/default_network/configure-dns/) and in addition, if you're using `dcos-vagrant` we will inject the cluster machine's names into `/etc/hosts` on your behalf (which would then be consumed by Docker).

Let us know if this helps.

[2016-05-24 00:19] sargun commented on #438
[code]

[2016-05-24 00:38] adityats commented on #438
We are running docker version 1.8.3 on CoreOS, not sure if that's an issue but I distinctly remember using 1.6 docker version and not seeing this issue then.

@jgarcia-mesosphere /etc/hosts is not a static file, we cannot use --hostname option during container create. It is actively updated by the container.

@sargun I will try debugging with ftrace.

[2016-05-24 11:49] alexraju commented on #68
https://github.com/kozyraki
http://mesosphere.github.io/mesos-dns/docs/tutorial-gce.html link is not working anymore.

[2016-05-24 16:30] adityats commented on #438
After upgrading docker to 1.9.1, things seemed to be resolved. Thanks for the tips!

[2016-05-24 16:30] #438 closed

[2016-05-25 04:08] graphex commented on #327
I'm currently on 0.4.0, has this been implemented (0.5.2 being the newest at this time)?
I can get `/v1/hosts/marathon.mesos` which appears to return the marathon leader, but for consistency I would like to get an SRV record for the marathon leader. Based on https://docs.mesosphere.com/usage/service-discovery/mesos-dns/service-naming/ it seems like i should be able to get a record at `/v1/services

[2016-05-28 00:10] cheuschober opened #439 "Proposal: Add support for multiple resolver backends (eg consul)"
This is a continuation of a conversation back at the end of January in which we discussed how the the real magic of mesos-dns is its records generator that parses state to generate the appropriate state records. This generator was used (by means of a copy) in the mesos-consul project to provide most of its state parsing functions.

This proposal is to further segment the resolver and  components t

[2016-06-01 08:08] sargun commented on #426
@djosborne Do you need this on all records? Can we do it just for the basic task A records?

[2016-06-02 09:12] maoxianquan commented on #434
Hi, I have got the same issue here. The difference between two versions is 0.28 would have following structure in the state json:

discovery: {
name: "xxx.xxxx.xxxx",
ports: {
ports: [
{
number: 31960,
protocol: "tcp"
}
]
},
visibility: "FRAMEWORK"
},

the content in the name fields seems used by Mesos-DNS as the task records.

[2016-06-02 09:24] maoxianquan commented on #434
Find the reason:

In https://github.com/mesosphere/mesos-dns/blob/master/records/generator.go line 92,  the mesos-dns would use the discovery info as the first priority. So please check why mesos made this information of discovery automatic and how to configure it before start the task.

[2016-06-02 09:41] frosenberg commented on #434
Looks to me the real reason is further down:
https://github.com/mesosphere/mesos-dns/blob/master/records/generator.go#L501

[2016-06-02 16:28] #428 closed

[2016-06-03 04:48] sargun commented on #426
@djosborne Does this work for your needs:
[code]

[2016-06-03 17:43] djosborne commented on #426
@sargun I'm not sure, can you provide more info on the use case you're showing, specifically:

- What changed between the two dig requests?
- Is this a Docker Container networked with ip-per-container? Or is it a docker bridge container?
- For each of an ip-per-container task and docker bridge task, what does a dig for the other respond with?
- Is MesosDNS configured to prioritize `netinfo`? Or ha

[2016-06-03 17:56] sargun commented on #426
foo.marathon.**containerip**.dcos.thisdcos.directory. - Returns IP from network infos
vs.
foo.marathon.**agentip**.dcos.thisdcos.directory. - returns agent IP.

[2016-06-03 18:04] jdef commented on #426
Do we really need containerip in the name? can't
foo.marathon.dcos.thisdcos.directory attempt to use networkinfo.ipaddress,
and if not found just default to the same ip as used by the agentip name?

On Fri, Jun 3, 2016 at 1:56 PM, Sargun Dhillon <notifications@github.com>
wrote:

[2016-06-03 18:07] sargun commented on #426
@jdef every container has networkinfo.ipaddress regardless of whether or not it has ip per container or not.

[2016-06-03 18:16] djosborne commented on #426
Oh, I didn't notice the `containerip`/`agentip` in those requests.

@sargun I don't believe this is a useful solution, as the logic of which of those two  address to to use is now pushed to the running microservices / framework's.

If we are going to solve this problem at the service layer, I'd propose adding a  new `IPSrc` configuration option possibly called `accessible-ip`, which will return th

[2016-06-03 19:06] sargun commented on #426
Question: Who is the best person to decide whether to use the container IP or the agent IPs + portmapping?

[2016-06-03 20:49] djosborne commented on #426
Good question. It is arguable whether it should be decided by core Mesos or decided at the service layer as we are discussing. On one hand, Mesos is reporting enough information for Service Discovery services to tell which address the container should be reachable on (as I mentioned in my last comment). On the other hand, maybe that calculation should already be done in core Mesos.

Shall we conti

[2016-06-03 22:35] sargun commented on #426
My guess is that getting Core Mesos to implement a good general purpose solution is going to be hard, if not impossible. I say that after some discussion, and that there are no good heuristics for the "right" answer. The other problem is that the answer can be based on the viewer. For example, if there is an overlay, and a container on the overlay is trying to contact another container, it may pre

[2016-06-06 11:59] alextu opened #440 "Add metadata to distinguish multiple ports"
DCOS 1.7 / Mesos-DNS v0.5.2

I have a DCOS service called myservice exposing 2 ports and from another container I need to retrieve these ports.
I use this curl call to do that :

[code]

The resulting JSON contains an array without a consistent order, the next curl call can be ordered with 8089 first and 8088 second.

For now the fix consists in ordering on the client side to be consistent with ho

[2016-06-06 15:41] jdef commented on #440
We intentionally don't sort records. Relying on the order of the returned
records is fraught with peril.

Adding port names is a good idea. I'm surprised that we don't already do
this.

FWIW, if the task discoveryinfo has a name for the port, you could use that
in your service query. An example of such a service is
"_http._liquor-store._tcp.marathon.mesos", where _http is the port name.

On Mon, J

[2016-06-06 15:42] jdef commented on #440
@sargun it sounds like the ask is for an "enumerate" API that's
service-specific

On Mon, Jun 6, 2016 at 11:41 AM, James DeFelice <james@mesosphere.io> wrote:

[2016-06-07 07:57] alextu commented on #440
Thanks for the tip, I will do 2 separate calls to fetch the relevant ports from their name

[2016-06-10 22:51] karthimohan commented on #434
Ran into the same issue. Upgraded Mesos from 0.26.1 to 0.28.2 and ran into this DNSlookup issue. Running Mesos-DNS v0.5.0. Would appreciate if you can let us know any timeline for this fix?

[2016-06-10 23:22] sargun commented on #434
Can you just not set DiscoveryInfo on the task?

[2016-06-11 05:51] karthimohan commented on #434
@sargun Can you tell me how I can set this option? I dont see this as a configuration option in Mesos documentation. All these tasks are launched from Marathon framework.

[2016-06-11 17:58] sargun commented on #434
@karthimohan You should be able to use an older version of Marathon that doesn't set DiscoveryInfo at all, then upgrade your mesos, then change your mesos DNS names, then upgrade Marathon

[2016-06-15 19:53] luiseduardobrito commented on #168
+1 @fbidu

[2016-06-25 01:08] lcjlcj opened #447 "build broken because of new jwt version"
github.com/mesosphere/mesos-dns/httpcli
../github.com/mesosphere/mesos-dns/httpcli/doer.go:72: invalid operation: token.Claims["uid"] (type jwt.Claims does not support indexing)
../github.com/mesosphere/mesos-dns/httpcli/doer.go:73: invalid operation: token.Claims["exp"] (type jwt.Claims does not support indexing)
The command '/bin/sh -c cd /go/src/mesos-dns && go get' returned a non-zero code: 2

[2016-06-25 01:11] alberts commented on #447
@lcjlcj we switched to govendor. You should be able to build with

go get github.com/kardianos/govendor
govendor install -v +local

@sargun We should update the docs.

[2016-06-26 00:55] rajholla commented on #417
I hit the same issue today . Mesos dns resolves to slave ip instead of calico ipan assigned ip for the container.
Here is my mesos-dns config

{
  "zk": "zk://127.0.0.1:2181/mesos",
  "refreshSeconds": 30,
  "ttl": 60,
  "domain": "mesos",
  "port": 53,
  "resolvers": ["144.202.8.11", "144.202.8.12", "144.202.54.10"],
  "timeout": 5,
  "listener": "0.0.0.0",
  "email": "root.mesos-dns.mesos",
  "I

[2016-06-28 19:49] cheuschober commented on #439
Given that I don't see much conversation and as time moves on, resolving the fork grows increasingly more complicated should I take it as a mandate that this is not a desired feature or do we just go and open the PR?

[2016-07-01 12:05] frosenberg commented on #434
@sargun I'm also confused about how to not set DiscoveryInfo.

[2016-07-05 23:08] sargun commented on #439
Can we split this PR into a couple parts? You guys did a lot of good work on tooling that I'd like to merge, if you submit that in a separate PR, I'd be happy to merge it. That's things like:

* adding a docker build environment and Makefile to speed and standardize testing
* updating the golang version to latest stable
* adding gofmt test targets

The Mesos-Consul stuff I think is more complicate

[2016-07-06 00:36] cheuschober commented on #439
We stumbled into the right solutions after knocking all the bugs loose so there's no clean set of history. That-said, everything isolated to consul is here:

https://github.com/Virtustream-OSS/mesos-dns/tree/feature/modular-backend/resolvers/consul

Any other changes made to tree pertain to making the backend modular, in general. References to consul anywhere in these parts we would strip if we br

[2016-07-08 23:18] sargun commented on #447
Should be fixed.

[2016-07-08 23:18] #447 closed

[2016-07-11 01:50] timcharper opened #448 "Support Mesos Principal Basic HTTP Authentication"
`mesos-dns` does not support HTTP authentication. If `http_authentication` is turned on for mesos-master, and `mesos` `1.0.0` is running, then the request for mesos master state is denied.

[2016-07-11 01:50] timcharper commented on #448
I'm working on a patch

[2016-07-11 02:58] sargun commented on #448
We support using JWTs: https://github.com/mesosphere/mesos-dns/commit/59f43a3858ff5943a8950936de79d540b490dd04

[2016-07-11 03:36] timcharper commented on #448
@sargun okay; how is it used?

[2016-07-11 03:38] timcharper commented on #448
It looks like that code is for authorizing against Amazon's IAM, am I mistaken? I didn't see any documentation for it, and saw "IAM", so assumed as much.

[2016-07-11 05:49] Vish0007 commented on #334
@Spritekin
can you please point to the document you referring to?

@jdef
does meos dns return a cluster routable ip address? rather docker's NATted address.
I believe, mesos dns should already be using network info ip address which in-turn is decided based on network mode (bridge/host/etc.)? This is important from service discovery point.
Also, having two dns names for a 'service'
( service.marath

[2016-07-11 14:05] micahhausler commented on #437
@sargun Any update on this?

[2016-07-11 14:36] jdef commented on #437
@micahhausler yes, we do support SSL + authentication with JWT. the authn method isn't pluggable at this point. https://github.com/mesosphere/mesos-dns/blob/master/httpcli/doer.go

PRs welcome :)

[2016-07-11 16:41] sargun commented on #448
If you have an Authorizer module that takes JWTs, you can set the JWT ID in the config, and Mesos-DNS will submit them to Mesos. We can extend this to take arbitrary tokens.

[2016-07-11 16:56] timcharper commented on #448
I'm not really experienced with JWT's, so I'll smile and nod here. Is this the direction we're taking authentication for all things mesos? Is the principal / secret authentication approach being deprecated?

[2016-07-11 16:57] timcharper commented on #448
(I know you've been swamped and want to make sure you noticed that I've done the work and have submitted a pull request for this feature)

[2016-07-11 17:02] sargun commented on #448
It's pluggable. In the PR, it'd be nice if it followed roughly the same path, and you had an enum in the config that said use auth mechanism X or Y, but I think that it's a good idea.

[2016-07-11 17:39] jdef commented on #437
#448

[2016-07-11 17:54] timcharper commented on #437
` Zookeeper is wrong about leader` is exactly the error I got.

[2016-07-11 17:57] timcharper commented on #437
@micahhausler I've pushed up a build you can use. https://github.com/vivint-smarthome/mesos-dns/releases/tag/v0.5.3-vivint-2  ; docs here https://github.com/vivint-smarthome/mesos-dns/blob/auth/docs/docs/configuration-parameters.md

The params are going to change, but you could at least get things running if you like.

[2016-07-11 17:58] timcharper commented on #448
Great, I'll take a stab at it. Let's move the discussion to the pull request? https://github.com/mesosphere/mesos-dns/pull/449

[2016-07-11 20:35] sargun commented on #437
We haven't done a release of this yet, but you can use an artifact from circle-ci for master.

If you click on the Circle-CI "Passing" button on our README.md, and click on the latest green master, then click on artifacts, you should reach this page: https://circleci.com/gh/mesosphere/mesos-dns/734#artifacts

[2016-07-11 21:31] timcharper commented on #437
Super neat, @sargun ! thank you!

[2016-07-12 01:26] Spritekin commented on #334
@Vish0007
Mesos-dns Service Naming: https://mesosphere.github.io/mesos-dns/docs/naming.html

Read on the SRV Records section.

[2016-07-12 10:47] eLvErDe commented on #440
+1

[2016-07-12 10:57] eLvErDe commented on #440
Another use case:

RabbitMQ running in docker, two ports linked: first one is for AMQP protocol, other one is HTTP API. I'd like to be able to connect senders using AMQP as well as monitoring tool / autoscaler connected to the HTTP API to see if the queue is consumed in an acceptable time frame.
Atm, I rely on my own classes that get both port and pick the one that works and blacklist the other on

[2016-07-14 17:40] bernadinm commented on #334
@jdef The fix in this case was actually correctly mentioned.

By changing the order of the "host" first in the IPSources fixed the problem for me.
 "IPSources": ["netinfo", "mesos", "host"] to "IPSources": [ "host", "netinfo", "mesos"].

Closing this ticket. Thanks!

[2016-07-14 17:40] #334 closed

[2016-07-15 01:27] Vish0007 commented on #334
@bernadinm
I been following this issue and interested in getting this right.
After you moved "host" up the order, the containers lauched in BRIDGE mode mesos dns returns the host IP of the container and not the docker's internal IP.
?

[2016-07-15 16:34] bernadinm commented on #334
Thats correct. @Vish0007

[2016-07-15 20:51] djosborne commented on #426
@sargun @jdef as discussed, let's add an experimental `"auto"` configuration to Mesos DNS which applies the following logic when returning entries:
[code]

[2016-07-15 22:05] #448 closed

[2016-07-19 20:38] timcharper opened #450 "HTTP API inappropriately rejects Accept header"
I could be mistaken on this, but it seems that if a service responds with `application/json`, it should be okay with an Accept header telling it that's what it would like. Not a major issue.

[code]

[2016-07-22 12:22] Aiolia1992 opened #451 "help~ unrecognized import path "golang.org/x/net/context""
I'm installing mesos-dns in my centos7. I'm according the process of mesos official review just like https://open.mesosphere.com/advanced-course/building-and-running-mesos-dns/.
But in this way <go get github.com/mesosphere/mesos-dns> , i met a mistake that <package golang.org/x/net/context: unrecognized import path "golang.org/x/net/context">. I do not konw how to solve it. In other way I use <go

[2016-07-22 18:39] sargun commented on #451
Please use the official releases:
https://github.com/mesosphere/mesos-dns/releases
@joel-hamill Can we point people in this direction?

[2016-07-22 19:49] joel-hamill commented on #451
@sargun the advanced mesos course content is no longer actively updated. however, you can make a PR to: https://github.com/mesosphere/open-docs/tree/master/advanced-course

[2016-07-23 12:15] Aiolia1992 commented on #451
@joel-hamill  hello, I have try your link address, but it hints 404 not found. It has been deteled?

[2016-07-25 18:40] adityats opened #452 "API to register DNS entries dynamically with Mesos-DNS"
We would like to own a domain/zone in mesos-dns for punching loadbalanced apps in the said domain/zones. Is there any plans for supporting this? We have our own DNS server running, but since our code runs as a container in the Mesos Cluster and Mesos-DNS owns port 53, it would be really useful to provide this functionality.

[2016-08-02 16:29] ssk2 opened #453 "Migrate Mesos-DNS repo to DC/OS organisation on GitHub"
Since Mesos DNS is part of DC/OS, this repo should live there :).

[2016-08-02 16:31] alberts commented on #453
Need to make sure we don't break people who might have vendored/imported part of the Mesos-DNS Go code.

[2016-08-03 07:10] Difrex commented on #453
What will be the new url for mesos-dns code?

[2016-08-03 07:11] ssk2 commented on #453
@Difrex: something like https://github.com/dcos/mesos-dns

[2016-08-04 16:59] alberts commented on #453
Deferring this.

[2016-08-04 16:59] #453 closed

[2016-08-05 15:21] tiny1990 opened #455 "Failed to obtain the IP address for 'ip-172-31-1-128.cn-north-1.compute.internal'"
i post /v2/apps to run mesos-dns task, and post a docker container, throw an error:

Failed to obtain the IP address for 'ip-172-31-1-128.cn-north-1.compute.internal'; the DNS service may not be able to resolve it: Name or service not known

i deploy in EC2

[2016-08-06 05:19] #455 closed

[2016-08-09 15:54] joel-hamill commented on #451
@Aiolia1992 sorry for the delay. i have re-opened the repo to the public: https://github.com/mesosphere/open-docs/tree/master/advanced-course. thanks!

[2016-08-15 23:26] wrouesnel commented on #437
+1 for getting this into a release as soon as possible, we too would like to run this (we'll use the CI artifact for now).

[2016-08-17 00:32] timcharper opened #456 "Fix build instructions in README.md"
The README.md mentions that godeps should be used to build the project; however, the required deps file `Godeps/Godeps.json` seems to be missing.

[2016-08-17 00:49] timcharper opened #457 "Forwarded truncated DNS responses get extra truncated"
With the targeted version of miekg dns client, if the DNS server for which mesos-dns is forwarding requests returns a response with the truncated bit set, then the dns client returns a response with effectively no answers. The truncation is happening here:

https://github.com/mesosphere/mesos-dns/blob/3564f1eb20a5d77e068d38b6fcebe60fbb1b7ef3/vendor/github.com/miekg/dns/msg.go#L1703

This effective

[2016-08-17 00:50] timcharper commented on #457
A workaround can be seen in my branch: https://github.com/vivint-smarthome/mesos-dns.git

[2016-08-17 01:00] jdef commented on #456
Looks like a documentation error. Deps should be vendored in `vendor/` now

[2016-08-17 01:02] jdef commented on #457
Thanks @timcharper. Aside from the miekg dns client upgrade, looks like the related mesos-dns changes are here https://github.com/vivint-smarthome/mesos-dns/commit/66562b7f3ade6bdf1a812f83ed9076d09ddb79f5

[2016-08-17 01:05] timcharper commented on #457
@jdef you bet. I should mention there are issues with my change. It does not appropriately forward the Truncated bit (I've confirmed with wireshark). Its better, but flawed in that regard. I'll need to do some additional hunting to fix it further.

I'm unsure how my workaround will affect DNS caching. It's not important in my specific use case, I don't care if I get a truncated DNS record in any o

[2016-08-17 01:08] timcharper commented on #456
Okay; I'm still unclear of what commands to use to update these dependencies. I tried running `godeps` and it gives fantastic errors. However, `go install` appears to use these; has godeps been deprecated?

[2016-08-19 02:24] RichardHightower opened #458 "DNS SRV entries need port names to be addressable ... PORT_NAME.SERVICE.PROTOCOL.FRAMEWORK.MESOS"
Mesos DNS maps marathon apps (called service below as follow).

[code]

should also be include

[code]

Each port name should be mapped.

Example: I have a service that looks up another service using DNS SVR record, i.e., ServiceOne Looks up MyService `_myservice._tcp.marathon.mesos`. It communicates with `mesos-dns` fine… ServiceOne get a list of URIs for myservice, i.e., `(myservice-j8bny-s0.mar

[2016-08-20 07:03] #451 closed

[2016-08-22 16:57] sargun opened #459 "Support non-standard ports for upstreams"
We should be able to have a colon in our upstreams and support non-standard ports.

[2016-08-26 03:36] sargun opened #466 "Release 0.5.3"
How do y'all feel about prepping a release for 0.5.3?
@jdef @drewkerrigan @alberts

@alberts -- Can you test the IAM stuff -- I'm not sure where the secret is being set in the config file?

[2016-08-26 03:52] timcharper commented on #466
Since releases are infrequent I'd really like a fix applied for #457 - Forwarded truncated DNS responses get extra truncated.

[2016-08-26 03:54] timcharper commented on #456
@jdef can you point me in the right direction? I have no idea what to do. I can send a PR for this and also one for #457 if this is solved.

[2016-08-26 04:17] sargun commented on #456
@timcharper Look at #463. I like that route a bit.

[2016-08-26 16:43] drewkerrigan commented on #466
It would be nice to get #467 from @timcharper. #463 would be nice as well, but I think it changes the build process enough to hold off until the next point release at least.

Other than that, 👍 from me

[2016-08-30 00:50] wrouesnel commented on #286
We have this problem with mesos-DNS and hadoop as well. Reverse PTR generation should be toggleable, since there are no conflicts when running in an IP-per-workload configuration.

[2016-08-30 23:49] drewkerrigan commented on #432
@sargun can this be closed?

[2016-08-31 07:07] #432 closed

[2016-09-02 22:24] jdef commented on #456
We're using govendor to manage deps, not Godeps; vendored code is all in the `vendor/` directory

[2016-09-05 18:11] #457 closed

[2016-09-05 19:04] sargun commented on #466
I cut rc2: https://circleci.com/gh/mesosphere/mesos-dns/809#artifacts

@drewkerrigan

[2016-09-06 19:46] as6o opened #469 "Aurora tasks create odd DNS entries"
An aurora-generated task usually creates a name that looks something like "asiri/prod/service".  mesos-dns appears to mash the bits together to create a name that looks like "asiriprodservice.twitterscheduler.mesos".  It would be nice if there was a way to only use the "service" part of the aurora task name and generate "service.twitterscheduler.mesos" instead.

[2016-09-08 13:06] rmros opened #471 "`godep: No Godeps found (or in any parent directory)`"
i follow these steps

`$ mkdir ~/go

$ export GOPATH=$HOME/go

$ export PATH=$PATH:$GOPATH/bin

$ go get github.com/tools/godep

$ go get github.com/mesosphere/mesos-dns

$ cd $GOPATH/src/github.com/mesosphere/mesos-dns

$ godep go build . `

but
after --> godep go build .
get this message :

`godep: No Godeps found (or in any parent directory)`

[2016-09-08 14:13] jdef commented on #471
we're using govendor now to manage properly vendored deps. you should no
longer need godep.

On Thu, Sep 8, 2016 at 9:06 AM, ramin <notifications@github.com> wrote:

[2016-09-09 07:42] rmros commented on #471
mr @jdef thanks
after
`$ mkdir ~/go

$ export GOPATH=$HOME/go

$ export PATH=$PATH:$GOPATH/bin

$ go get -u github.com/kardianos/govendor

$ go get github.com/mesosphere/mesos-dns

$ cd $GOPATH/src/github.com/mesosphere/mesos-dns`

what is command instead of `godep go build .` ?

[2016-09-09 12:54] jdef commented on #471
if you're using a recent release of go then you should be able to `go build
.`

On Fri, Sep 9, 2016 at 3:42 AM, ramin <notifications@github.com> wrote:

[2016-09-09 13:27] rmros commented on #471
yes i use go 1.6
thanks mr jdef

[2016-09-12 23:38] sargun commented on #466
I would like to cut the Mesos-DNS release in the next 24 hours. If anyone believe we shouldn't, please let me know.

CC: @jdef @timcharper @drewkerrigan @bradbeam

The following PRs don't seem ready yet:
* https://github.com/mesosphere/mesos-dns/pull/464
* https://github.com/mesosphere/mesos-dns/pull/470
* https://github.com/mesosphere/mesos-dns/pull/463

Although https://github.com/mesosphere/mes

[2016-09-13 03:14] timcharper commented on #466
Hey @sargun ; I agree wrt high risk right now (although We are running an earlier version of the #441 patch in production right now). Getting a solid stable release out first will be good. Once it goes out, I'll rebase the patch on top of it and deploy it to our beta environments for testing, and then ultimately to our production environments, and will report how it goes.

[2016-09-13 04:03] #214 closed

[2016-09-13 04:03] #211 closed

[2016-09-13 06:19] jdef commented on #466
I'd check w/ dc/os security team that #470 can wait. Looks like it might have some bits that they need/want for authn

[2016-09-13 14:16] bradbeam commented on #466
No concerns about #463 since it seemed to already be communicated that we'd want to wait until the next release.
This also goes for #464 since this hasn't really reviewed at all.

[2016-09-13 14:50] sargun commented on #466
@vespian Mind commening about #470?

[2016-09-13 16:27] jdef commented on #466
if we don't need the authn changes then let's punt on #470

On Tue, Sep 13, 2016 at 10:50 AM, Sargun Dhillon <notifications@github.com>
wrote:

[2016-09-15 14:33] drewkerrigan commented on #459
@sargun can this be closed?

[2016-09-15 15:23] #459 closed

[2016-09-15 15:24] #466 closed

[2016-09-15 15:24] #471 closed

[2016-09-15 15:24] #456 closed

[2016-09-15 15:24] sargun commented on #440
If you have multiple, named ports, you should have that data embedded in the name?

[2016-09-15 15:25] sargun commented on #469
Can Aurora set DiscoveryInfo to fix this?

[2016-09-20 18:46] tobilg opened #473 "Mesos DNS doesn't run on Alpine Linux (compiled with non-static linking?)"
### What version of the project are you using?

[v0.6.0 Linux binary](https://github.com/mesosphere/mesos-dns/releases/download/v0.6.0/mesos-dns-v0.6.0-linux-amd64)
### What operating system and processor architecture are you using?

Alpine Linux
### What did you do?

Trying to build & run my [Mesos DNS minimal Docker image](https://hub.docker.com/r/tobilg/mesos-dns/) with v0.6.0
### What did you

[2016-09-22 07:21] #452 closed

[2016-09-26 13:00] juwi opened #474 "Add IPSources priority to Documentation"
Hi,

I just tried to resolve an issue with mesos-dns resolving the host IP instead of overlay-network IP for about two days. In the end I found the solution here: https://github.com/projectcalico/calico-containers/blob/master/docs/mesos/DCOS.md
So basically I switched the order in IPSources from ["host" "netinfo"] to ["netinfo" "host"].
Would be nice if this was documented more prominently (if it

[2016-09-26 16:25] sargun commented on #474
Just curious, are you using DC/OS, or Mesos directly?

[2016-09-26 18:12] tobilg commented on #335
Shall I close this? @jdef @sargun

[2016-09-27 06:13] juwi commented on #474
Its a DCOS cluster that was updated from1.7 to 1.8

[2016-09-27 06:15] sargun commented on #474
Can you use this: https://dcos.io/docs/1.8/administration/overlay-networks/

* containerip: `taskname.marathon.containerip.dcos.thisdcos.directory`
* agentip: `taskname.marathon.agentip.dcos.thisdcos.directory`

[2016-09-27 06:26] juwi commented on #474
The way it is documented there, without `.thisdcos.directory` domain I never got an answer back. Using it the way you just described I at least get an authority section that looks right, however still no answer.
Assuming overlay-testcontainer is the container I want to resolve I did the following:
`dig overlay-testcontainer.marathon.containerip.dcos.thisdcos.directory

; <<>> DiG 9.9.4-RedHat-9.9.

[2016-09-27 08:15] sargun commented on #474
I've created a ticket to fix the doc.

Does `overlay-testcontainer.marathon.agentip.dcos.thisdcos.directory` come back?

[2016-09-27 08:23] juwi commented on #474
No, neither of the two do.
When I look through the journals I see lots of errors in the minuteman log though:
`Sep 27 10:20:51 purplesubmarine2.local minuteman-env[12436]: 10:20:51.025 [error] Failed to parse task: {function_clause,[{mesos_state_client,protocol,[<<"client">>],[{file,"/pkg/src/minuteman/_build/default/lib/mesos_state/src/mesos_state_client.erl"},{line,439}]},{mesos_state_client,dis

[2016-09-27 13:50] sargun commented on #474
@juwi Are you running 1.8.4?

[2016-09-27 15:05] juwi commented on #474
@sargun : Indeed, I am

[2016-09-28 09:37] aamalik opened #475 "please remove -v in this command"
In this link (https://mesosphere.github.io/mesos-dns/docs/tutorial.html), on the mesos-dns.json file, please change this:

"cmd": "sudo  /usr/local/mesos-dns/mesos-dns -v -config=/usr/local/mesos-dns/config.json",
to
"cmd": "sudo  /usr/local/mesos-dns/mesos-dns  -config=/usr/local/mesos-dns/config.json",

thus removing the -v option which creates errors. Took me some time to debug this.

[2016-09-29 07:21] tobilg commented on #473
Any chances this will be changed with the next release?

[2016-10-05 12:48] eLvErDe opened #477 "Returns docker container IP instead of mesos host one"
Hello,

I have a docker container running RMQ, in Marathon. One port is tagged as amqp (data protocol), the other one as mgmt (management interface)

Where doing:
[code]

I received the following answer:
[code]
I do not expect to receive 172.17.0.2 as address which is the internal NON-ROUTED docker address. Actually marathon also display a link to both data and mgmt port and use the right mesos ho

[2016-10-05 13:12] eLvErDe commented on #477
Hello,

Okay, it seems to be related to IPSources setting:

Switching to host first fix it. Would you consider changing the default setting ? I don't really see the point returning the docker private address, it's completly pointless as mesos uses docker-proxy to bind the port on the host itself.

[2016-10-12 07:25] gianluca-sabena opened #478 "Port name query"
If you have a service with multiple ports it is possible to query a specific port. This allow to create a dns service discovery.

Document this feature here http://mesosphere.github.io/mesos-dns/docs/naming.html

marathon.json
[code]

Query is like `dig @mesos-dns _http-api._<task-name>._tcp.marathon.mesos`

[2016-10-12 07:27] gianluca-sabena opened #479 "Document all api endpoint"
Update this page http://mesosphere.github.io/mesos-dns/docs/http.html with all api. For example this endpoint is undocumented http://mesos_dns/v1/enumerate

[2016-10-15 19:48] groyee opened #482 "mesos-dns is not working on Ubuntu 16.04.1 LTS"
After struggling for 3 days with dcos installation I made it to the dashboard but nothing really works. It shows that I have no nods, some dcos services are in red state and I have no public DNS on the dcos master.

I followed this guide:

https://dcos.io/docs/1.8/administration/installing/custom/advanced/

I used the following file to create my cluster:

---

bootstrap_url: http://192.168.0.11:80

[2016-10-31 22:16] ChiefAlexander commented on #482
Not sure if you have made any progress on this. I think the important log messages that you are seeing is:
[code]
Have you synchronized your time on your node with (ntpd, chrony, systemd-timesyncd, etc.)

[2016-11-02 15:29] dry4ng commented on #61
+1

[2016-11-15 04:05] wrouesnel commented on #274
There's a missing component to this request IMO: in addition to "static" file based entries, it would be nice to be able to inject "static" entries into zookeeper under a specialized key to augment what mesos-dns normally serves.

[2016-11-17 02:23] kamoljan commented on #102
Hi @kozyraki

I am not sure if this issue is solved already.
But we are getting exactly the same symptoms.

In marathon app we are accessing DNS (e.g. api.xxx.com) from DCOS cluster.
In heavy load, we are getting sometimes `curl: (6) Could not resolve host: api.xxx.com` from:
[code]
However, with
[code]
it works.

Is it something to do with our `resolver` or Mesos-DNS?

Our resolver:
[code]

All n

[2016-11-19 09:34] tobilg commented on #473
Will there be static linked versions in the future, or shall I close this issue?

[2016-11-20 02:37] sargun commented on #473
I looked into doing it. I ran into some roadblocks, but I'm totally open to doing it in the future.

[2016-11-20 02:38] sargun commented on #473
Likely, we'd have a statically linked one, and non-static one as well.

[2017-01-12 20:23] richardgirges opened #487 "Custom top level domains with mesos-dns in DC/OS?"
# What we're trying to do
We're trying to setup mesos-dns inside of our DC/OS cluster to setup a custom top-level domain for our DC/OS services.

For instance, this service in our DC/OS cluster:
foo.marathon.mesos:8080

Should be accessible to non-DC/OS services like so:
foo.marathon.mesos.steelhouse.com:8080

This document actually got us all the way there: https://docs.mesosphere.com/1.8/usage/s

[2017-01-12 21:57] alberts commented on #487
@richardgirges since this pertains to using Spartan + Mesos-DNS + DC/OS, let's discuss at dcosjira.atlassian.net.

[2017-01-12 22:12] alberts commented on #487
@richardgirges while I'm here, Spartan only binds to its special IPs on agent nodes in 1.8.7. If you bind to a specific internal/external IP in "listener", you should be able to get this going.

[2017-01-13 19:40] alberts commented on #487
Let us know if this works for you. If not, happy to continue the discussion as described above.

[2017-01-13 19:40] #487 closed

[2017-01-13 19:56] richardgirges commented on #487
@alberts apologies for the late response. Your solution worked, all I had to do was bind to the internal IP in "listener" and everything was all good from there. Thanks!

[2017-01-15 07:14] panda87 commented on #349
@sargun Hi, any update on that?
We recently experience high latency for resolve dc/os services.
Can you pls tell update when you think this feature will be released?

Thanks

[2017-01-25 10:19] veger opened #489 "Missing configuration documentation"
When configuring mesos and friends to use HTTPS, mesos-dns stopped working. Logs showed that HTTP was used to get  *states.json*, due to the configuration change HTTPS is needed now.

Luckily I saw this in the release notes:

But I could not find any information on how to use it. After inspecting the [commits](https://github.com/mesosphere/mesos-dns/pull/443/commits/59f43a3858ff5943a8950936de79d54

[2017-01-31 15:38] jdef commented on #349
AFAIK we've discussed statsd support for services running on DCOS. for core
services **within** dcos, I don't think we've settled on a standard OSS API
yet.

On Sun, Jan 15, 2017 at 2:14 AM, panda87 <notifications@github.com> wrote:

[2017-02-07 21:14] rsiebeling commented on #176
Hi, is this solved? I need to query mesos-DNS from my frontend to discover the backend server and this isn't possible due to the CORS issue...

[2017-02-08 00:49] jdef commented on #176
I don't think anyone has solved this yet. The HTTP lib that we're using seems to implement support for CORS. If anyone wanted to make an initial contribution to the project, this would be a good fit.

[2017-02-08 09:48] rsiebeling commented on #176
Maybe I could help, but will need some assistance, never did a pull request, I have no experience in Go and do not have that much time. Maybe I'm not the best person to take this up...
However if nobody take this up and someone could help me get started I'd be happy to do this, looking at the comment from tsenart it shouldn't be too hard

[2017-02-27 16:31] tobilg commented on #335
Closing due to inactivity.

[2017-02-27 16:31] #335 closed

[2017-03-08 12:42] errordeveloper commented on #294
It'd be great to have a public API for this, however I wonder if there's a low-level way to obtain all records?

[2017-03-08 13:52] jdef commented on #294
Enumeration is supported via HTTP: https://github.com/mesosphere/mesos-dns/blob/master/docs/docs/http.md#get-v1enumerate

[2017-03-08 13:52] #294 closed

[2017-03-20 04:03] chjhaijiang commented on #448
@sargun, can you please help to give the instructions about your idea here?
===
If you have an Authorizer module that takes JWTs, you can set the JWT ID in the config, and Mesos-DNS will submit them to Mesos. We can extend this to take arbitrary tokens.

[2017-04-03 08:41] tobilg commented on #482
DC/OS installation is not officially supported on Ubuntu. Apart from that, the NTP problems that @ChiefAlexander pointed out are probably the failure reason.

[2017-04-03 08:42] tobilg commented on #473
Closing due to inactivity.

[2017-04-03 08:42] #473 closed

[2017-04-30 07:20] chriskuehl opened #500 "Consider making a new release?"
There are lots of commits on master since the last release in September 2016. Would you please consider making a new release?

[2017-06-28 09:26] stevenlee87 opened #501 "Ns namaserver's A record is not returned"
dig ns1.mesos.test.net

; <<>> DiG 9.9.4-RedHat-9.9.4-29.el7 <<>> ns1.mesos.test.net
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NXDOMAIN, id: 6850
;; flags: qr rd ra; QUERY: 1, ANSWER: 0, AUTHORITY: 1, ADDITIONAL: 1

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 4096
;; QUESTION SECTION:
;ns1.mesos.test.net.        IN      A                    <---- A re

[2017-06-28 11:51] gpaul commented on #501
Interesting. Could you give a bit more detail about your cluster, what output you'd expect, and why?

[2017-07-03 10:36] stevenlee87 commented on #501
mesos 1.3
marathon 1.4.5
msos-dns 0.6.0

The result I expect is:
dig ns1.mesos.test.net

; <<>> DiG 9.3.6-P1-RedHat-9.3.6-4.P1.el5 <<>> ns1.mesos.test.net
;; global options:  printcmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 15279
;; flags: qr rd ra; QUERY: 1, ANSWER: 1, AUTHORITY: 0, ADDITIONAL: 0

;; QUESTION SECTION:
;ns1.mesos.test.net.   IN      A

;; ANSWER SECTION:

[2017-07-06 15:45] jdef commented on #501
suspect that passing the `rname` is wrong here, and that we should be passing the `mname` instead: https://github.com/mesosphere/mesos-dns/blob/9d21ea6de38bd371e34bde196ceaee94cdac8a2c/records/generator.go#L187

i'm not crazy about the defaults in our config file, but that's a separate issue

[2017-07-06 15:53] jdef commented on #501
the other weird thing is that SOA `mname` is supposed to reference a primary master. But running mesos-dns on multiple hosts w/ the default config probably results in 3 different primary masters being set. And that feels wrong.

Docs:
https://www.ripe.net/publications/docs/ripe-203

[2017-07-06 22:08] jdef opened #503 "mesos-dns fails to start if any ZK server in the configured ensemble is not running"
I killed my second ZK in a 3 member cluster then tried starting mesos-dns and it failed to boot:
[code]

mesos-dns shouldn't die in this case because 2/3 of the ZK cluster is running.

perhaps the default ZK timeout is too short?

[2017-07-11 14:16] jdef opened #504 "Additional rules needed for SOA mname"
There's another, related issue that we could solve as part of this ticket: if the SOA `mname` isn't part of the mesos-dns domain, then mesos-dns SHALL NOT report an `A` RR. We don't perform any checks for this (https://github.com/mesosphere/mesos-dns/blob/9d21ea6de38bd371e34bde196ceaee94cdac8a2c/records/generator.go#L478).

See the examples here: http://www.zytrax.com/books/dns/ch8/soa.html

We sh

[2017-07-12 12:38] #501 closed

[2017-07-12 12:43] jdef commented on #477
We've considered changing the default setting but have avoided doing so because (a) it breaks behavior that long-time users expect (and have scripted for in production); (b) it's easy enough to configure what you really want, and; (c) it's extremely difficult to arrive at a default that satisfies nearly everyone OOTB because clusters come in many flavors.

We've tried to do a good job documenting

[2017-07-12 12:47] jdef commented on #479
this is documented, we just need to re-generate the github pages

[2017-07-12 12:50] jdef commented on #458
#478

[2017-07-12 12:51] #458 closed

[2017-07-12 12:54] jdef commented on #474
#477

[2017-07-12 12:54] #474 closed

[2017-07-12 12:58] jdef commented on #437
looks like release v0.6.0 ships w/ SSL and authn for mesos

[2017-07-12 12:58] #437 closed

[2017-07-12 13:02] jdef commented on #434
mesos-dns should generate both types of names: those that include `.` and `-` as per https://github.com/mesosphere/mesos-dns/blob/a32855c34ea55d09302226190dd03796d1a63dc1/records/generator.go#L418

at some point we'll drop legacy support for DiscoveryInfo names, meaning that the `.` form will no longer be generated. Please plan accordingly.

[2017-07-12 13:02] #434 closed

[2017-07-12 13:04] #427 closed

[2017-07-12 13:07] jdef commented on #419
have a look at our CI build file for a build reference, it's pretty straight forward.

[2017-07-12 13:07] #419 closed

[2017-07-12 13:11] jdef commented on #482
appears to be unrelated to mesos-dns, closing out. please re-open if you disagree

[2017-07-12 13:11] #482 closed

[2017-07-12 13:35] jdef commented on #423
https://github.com/golang/go/issues/16704

[2017-07-12 13:41] jdef commented on #414
allowing a framework to intentionally introduce sub-domains is something that we're specifically trying to avoid. there's no way to stop tasks from accidentally clobbering and/or masking each other's names in such cases. relying on frameworks to be smart enough to avoid this, or operators for that matter, is probably not an approach that mesos-dns is willing to take.

is there more to your use cas

[2017-07-12 13:41] #414 closed

[2017-07-12 13:45] jdef commented on #390
fixed by #395

[2017-07-12 13:45] #390 closed

[2017-07-12 13:45] jdef commented on #369
#477

[2017-07-12 13:46] jdef commented on #379
#504 #501

[2017-07-12 13:48] jdef commented on #145
not sure that we can actually change the name generation scheme at this point w/o breaking TONS of people, therefore closing this out

[2017-07-12 13:48] #145 closed

[2017-07-12 13:49] jdef commented on #61
mesos-dns generates SRVs per port when DiscoveryInfo is present, closing this out.

[2017-07-12 13:49] #61 closed

[2017-07-14 06:16] knizami opened #505 "Using Custom Top-Level Domains for Mesos-DNS on AWS when masters are in an auto scaling group"
Hello,

My question is around how to configure / identify all the mesos masters when they are in an auto scaling group running on AWS?  Specifically, the "masters" parameter indicates that you need to enter the ip addresses of the master nodes.  We could enter the current ip addresses of the master nodes but our concern is when / if there is a scaling event and a new master is added or a master no

[2017-07-26 18:19] nizamik opened #506 "mesos-dns resolving the docker container ip instead of the agent ip for a task when using custom top level domain?"
Hello,

When we try and resolve a task running on our DCOS cluster, mesos-dns appears to be responding with the docker container ip and not the agent ip address as expected.  It is resolving the leader correctly and the master address correctly.

mesos-dns configuration file:
{
  "domain": "mesos.hackathon-rd-dev",
  "externalon": false,
  "listener": "10.134.11.40",
  "masters": ["10.134.8.128:50

[2017-07-26 18:32] nizamik commented on #506
I found the answer, the IPSources order needs to have "host" first, as shown in #477

[2017-07-26 18:32] #506 closed

[2017-08-02 09:28] nihn opened #507 "Feature to limit number of Answers returned"
Hello,

we use `MesosDNS` for loadbalancing some of our traffic (e.g. between real loadbalancers) inside the Mesos/Marathon cluster. We run into issue that often one of the loadbalancers has much more traffic than others.
This is caused by `getaddrinfo` system call behavior which sorts records got from `MesosDNS` and returns always same record.
It would be nice to have feature to restrict number o

[2017-08-02 14:36] jdef commented on #507
Thanks for reporting this. It looks like other systems have run into this
nifty behavior as well. It's unclear to me if it's also possible to work
around the problem by hacking /etc/gai.conf.

https://github.com/weaveworks/weave/issues/1245
https://github.com/hashicorp/consul/issues/1481

Comments suggest that the latest RFC fixes the problems with the sorting
*as per the spec* but that getaddrinf

[2017-08-02 16:26] jdef commented on #507
xref #485

[2017-08-07 21:56] leopepe commented on #236
The same error happened with me while using mesosphere/mesos-dns:latest, after creating my own docker image based on ubuntu and installing the mesos-dns binary release 0.6.0 (as recommended on the dockerhub: https://hub.docker.com/r/mesosphere/mesos-dns/) the problem was solved.
Before that I have tested the access to the ZK from the container running mesos-dns and using the zkCli.sh I had success

[2017-08-08 11:11] mlowicki commented on #507
@jdef any news on your side?

[2017-08-08 20:34] jdef commented on #507
Not yet, stay tuned...

[2017-10-09 14:39] jdef commented on #504
related: DNS glue entries https://serverfault.com/questions/309622/what-is-a-glue-record

[2017-10-09 14:40] jdef commented on #505
mesos-dns can use zookeeper to watch the set of masters in the cluster, treating the servers identified via the `masters` config param as a fallback

[2017-10-09 14:48] jdef commented on #507
additional commentary re: libc implementations here http://www.zytrax.com/books/dns/ch9/rr.html

[2017-10-09 18:10] drewkerrigan opened #509 "*taskID*.slave.mesos can be an invalid A record."
When lookup fails in generator.go's `slaveRecords` for `slave.PID.Host`, we default to using `labels.DomainFrag(slave.PID.Host, labels.Sep, spec)` for the `rg.SlaveIPs[slave.ID]` value.

Later in `taskContextRecord`, we use that for `*taskID*.slave.mesos` records. A test case for this and possibly a fix should be created so that invalid A records are not created in this situation.

My suspicion is

[2018-01-25 09:26] zonnie opened #514 "Missing documentation on to use Mesos Authentication"
I'm using Mesos (1.1.0) with SSL & Authentication enabled.
I know that in 0.6.0 both support was added but I'm unable to find any documentation on how to use the authentication support.

(I saw SSL missing documentation is already an issue + the issue author described how to enable SSL)

[2018-02-12 12:13] grohan2002 opened #516 "Docker Containers are not able to resolve the node host name."
DC/OS version - 1.10.3
Deployment - AWS using cloud Formation template.
Tried Deploying a spark service - Failed

Output from the private Node -
nobody@ip-10-0-1-57:/etc$ ping $(hostname)
ping: unknown host ip-10-0-1-57.ec2.internal
nobody@ip-10-0-1-57:/etc$

Tried running it manually -

nobody@ip-10-0-1-57:/opt/spark/dist/bin$ ./spark-shell
Skipping bootstrap IP detection
spark-env: User: nobody

[2018-02-12 14:09] jdef commented on #516
Thanks for the bug report. Did you try following the instructions in the
documentation?
https://docs.mesosphere.com/services/spark/2.1.0-2.2.1-1/spark-shell/

On Mon, Feb 12, 2018 at 7:13 AM, Rohan Gupta <notifications@github.com>
wrote:

[2018-02-13 08:49] grohan2002 commented on #516
@jdef Putting the AWS DNS entry in the config.yaml and rebuilding the DC/OS environment resolved the issue.

[2018-02-13 15:14] jdef commented on #516
Glad to hear it. I'll close this out then.

[2018-02-13 15:14] #516 closed

[2018-03-06 14:44] xkrt commented on #477
@jdef looks like official documentation are outdated http://mesosphere.github.io/mesos-dns/docs/configuration-parameters.html, it doesn't contain IPSources field.

[2018-03-25 13:08] vixns opened #518 "Fault Domains awareness"
Mesos 1.5.0 introduced regions and zones.

http://mesos.apache.org/documentation/latest/fault-domains/

mesos-dns could return them when defined as subdomains in SRV responses .

As an exemple,

`_chronos._tcp.marathon.mesos. 10 IN SRV	0 0 8080 chronos-n7z8k-s1.marathon.mesos.`

could become

`_chronos._tcp.marathon.mesos. 10 IN SRV	0 0 8080 chronos-n7z8k-s1.marathon.zone.region.mesos.`

or, to pr

[2018-03-26 14:00] jdef commented on #518
Thanks for filing this issue. TL;DR this is easier said than done.

The Mesos design spec makes specific recommendations w/ respect to conventions for sub-regions and sub-zones. In order to accommodate such, mesos-dns would probably need to transform the region/zone strings. This has already proved to be problematic: mesos-dns already transforms task name strings based some (old) assumptions that

[2018-03-28 16:14] imriz commented on #310
Is this still true? Mesos DNS will publish unhealthy instances, even if they use Mesos native health checks in Marathon (MESOS_HTTP(S))?

[2018-03-28 16:33] jdef commented on #310
I don't think anyone is working on this.

On Wed, Mar 28, 2018 at 12:14 PM, Imri Zvik <notifications@github.com>
wrote:

[2018-04-24 14:47] Zevran commented on #514
You can referer to markdown documentation here [configuration-parameters](https://github.com/mesosphere/mesos-dns/blob/master/docs/docs/configuration-parameters.md)

[2018-05-10 09:09] zyfdegh commented on #415
+1

[2018-05-10 12:17] jdef commented on #415
@zyfdegh have you encountered this error as well? if so, would you mind sharing a capture of the DNS traffic?

[2018-05-11 14:10] adamdecaf opened #520 "0.7.0 RC / pre-release ?"
There have been a lot of changes since `0.6.0`, but no RC or pre-release build. I'm currently building a fork off master, but would like to test out a proper RC/pre-release build. I'll provide feedback and fixes if I see any errors.

Changes: https://github.com/mesosphere/mesos-dns/compare/v0.6.0...master

[2018-05-30 12:55] vedavalliradhika opened #521 "Nginx host not found - Mesos environment"
Hi - We are facing nginx host not found upstream error frequently. The nginx instance is built as a docker image and running as a microservice in the Mesos-Marathon cluster. Nginx runs fine on few slaves. But is failing to come up on others. Hence, the nginx configuration files cannot be suspected.
There are DNS resolution issues were coming up for few other configured services.
Hence, I am suspec

[2018-05-30 19:55] MikeWillCook opened #522 "Prefixing with underscore can make a DNS component exceed 63 chars"
After supporting RFC1123 the limit of 63 chars is default, but when an underscore is prefixed for some records (e.g., port SRV records) they then can become too long and fail to query. It appears any time an underscore is prefixed the name length must be potentially truncated back to 63 chars.

For example, this would be a valid length of 63 chars without the underscore:
[code]
But this fails:
[co

[2018-09-27 13:07] junneyang opened #527 "nslookup in docker container failed!"
slave node:
ping helloworld.marathon.mesos------Ok

slave docker app:
ping helloworld.marathon.mesos------FAIL
nslookup: can't resolve '(null)': Name does not resolve

[2018-09-27 13:29] jdef commented on #527
Can you provide more context re: your environment? See https://github.com/mesosphere/mesos-dns/blob/master/CONTRIBUTING.md#issues

[2018-09-27 14:01] junneyang commented on #527
@jdef

mesos: 1.7.0
marathon:  1.7.50

helloworld app:
`{
  "id": "/helloworld",
  "cmd": "python -m SimpleHTTPServer $PORT",
  "cpus": 1,
  "mem": 128,
  "disk": 0,
  "instances": 2,
  "acceptedResourceRoles": [
    "*"
  ],
  "healthChecks": [
    {
      "gracePeriodSeconds": 300,
      "ignoreHttp1xx": false,
      "intervalSeconds": 60,
      "maxConsecutiveFailures": 3,
      "path": "/",

[2018-09-27 14:48] jdef commented on #527
on which node is mesos-dns running? have you tried enabling verbose logging
for mesos-dns to observe what it's doing?

On Thu, Sep 27, 2018 at 10:01 AM YangJun <notifications@github.com> wrote:

[2018-09-27 14:52] junneyang commented on #527
mesos-dns runs on 10.240.185.53

in container dig says:
![image](https://user-images.githubusercontent.com/6802322/46154496-dee9ee80-c2a7-11e8-81c3-051d4140c2ab.png)

why 172.17.0.1#53 ?
172.17.0.1 is address of docker0

[2018-09-27 14:55] jdef commented on #527
can you include the output of `docker version`?

[2018-09-27 14:57] junneyang commented on #527
@jdef
`docker version
Client:
 Version:           18.06.1-ce
 API version:       1.38
 Go version:        go1.10.3
 Git commit:        e68fc7a
 Built:             Tue Aug 21 17:23:03 2018
 OS/Arch:           linux/amd64
 Experimental:      false

Server:
 Engine:
  Version:          18.06.1-ce
  API version:      1.38 (minimum version 1.12)
  Go version:       go1.10.3
  Git commit:       e68fc7a

[2018-09-27 15:17] junneyang commented on #527
@jdef
Is this problem related to the iptables?
it seems that the docker0 reply the dig request directly, not the mesos-dns

[2018-09-27 15:19] jdef commented on #527
I see you're trying to use docker bridge-mode networking. Are you using the default docker bridge, as auto-configured by docker OOTB? If not, how have you configured the default bridge network for docker?

Docker networking is a bit funny. See https://docs.docker.com/network/bridge/#connect-a-container-to-the-default-bridge-network

As an aside, consider changing your `IPSources` to `["host", "net

[2018-09-27 15:34] junneyang commented on #527
@jdef
solved!

![image](https://user-images.githubusercontent.com/6802322/46157169-bcf36a80-c2ad-11e8-8490-442a0e67b09a.png)

i changed the listener: 0.0.0.0   to   10.240.185.53
problem solved

thanks very much!

[2018-09-27 15:49] jdef commented on #527
Glad you got it working. Closing this out as resolved.

[2018-09-27 15:49] #527 closed

[2018-09-28 12:53] devops083 opened #528 "mesos-DNS"
dig nginx.marathon.mesos
when try this it showing container ips not showing slave ips where containers was deployed...

[2018-09-28 12:58] jdef commented on #528
You probably want to change the default value of `IPSources` in your config. See https://github.com/mesosphere/mesos-dns/blob/ca483fa2f6b6f8ea5707449abbf065f8946bcb82/docs/docs/configuration-parameters.md#L110

[2018-09-28 13:29] devops083 commented on #528
hey @jdef thnx for your response, IPSources default value is ["netinfo", "mesos", "host"]
other than netinfo, what are possible values we can prefer...?

[2018-09-28 14:16] devops083 commented on #528
@jdef
So I have to change the order of IPSources?

[2018-09-28 14:17] jdef commented on #528
oops, I mean "host"

On Fri, Sep 28, 2018 at 10:17 AM James DeFelice <james@mesosphere.io> wrote:

[2018-10-01 16:31] devops083 commented on #528
@jdef
Its working thanks a lot  :)

[2018-10-01 18:30] #528 closed

[2018-10-21 14:13] imriz commented on #310
This is a really needed feature. Currently, mesos-dns will happily announce unhealthy instances, which puts the burden on figuring out the health to the client (which might need few retries to get an healthy instance).

Looking at https://github.com/mesosphere/mesos-dns/blob/master/records/state/state.go#L193 this seems to be quite simple?
The state JSON `statuses` hash (same place where task stat

[2018-10-21 14:55] jdef commented on #310
Related: https://lists.apache.org/thread.html/f79dbb92a0a43c00548ee503a0abbe3e1dd983511747ee77f2fd7966@%3Cdev.mesos.apache.org%3E

[2018-10-21 15:07] imriz commented on #310
I would also be glad to distinguish between "grace did not pass yet" to "no health check defined", but for now, the lack of awareness whatsoever is even worse than not distinguishing these two scenarios.
If we treat missing *healthy* field as "healthy" (and publish such record) we keep backward compatibility by not affecting tasks without health tasks, with the trade off of publishing unhealthy in

[2018-12-10 15:04] 2easy opened #530 "Golang 1.11 LookupSRV can't resolve mesos-dns compressed responses."
Hi, with golang 1.11 I can't make it to resolve SRV records from mesos-dns. After some debugging I have discovered that golang does not allow for compressed SRV records (error message "compressed name in SRV resource data").

[code]

Related issue: https://github.com/golang/go/issues/27546

[2018-12-10 15:21] jdef commented on #530
Looks like we need to bump a dependency, this appears to have patched a while ago: https://github.com/miekg/dns/commit/00b8eaaab9411e1ff61e5030ef7e58bed412ad2a

[2018-12-10 15:42] 2easy commented on #530
Yup, that's it.

[2018-12-17 16:04] #530 closed

[2019-02-09 12:11] f1-outsourcing opened #533 "marthon 1.7 mesos-dns default json"
Sorry for asking maybe the obvious I am having a test setup and just upgraded to mesos 1.7 and marathon 1.7. Marathon is now running as uid marathon. And I have probably problems launching the mesos-dns because of the low port 53 in the mesos-dns.json. (If I change it to 2053 it deploys)

How should I resolve this issue? I guess I need to have the 53 port.

[2019-04-12 13:53] j3k0 commented on #533
@f1-outsourcing did you found a solution?

[2019-04-13 08:49] vixns opened #538 "mesos 1.8+ unsupported"
Mesos 1.8+ no longer supports `/master/state.json` endpoint (404 response), we must use `/master/state` instead.

[2019-04-13 10:09] #538 closed

[2019-04-30 21:22] f1-outsourcing commented on #533
yes run as root, all ports below 1024 require it, otherwise you need to do something with port forwarding etc etc.

[code]

[2019-04-30 21:23] #533 closed

[2019-05-27 07:23] MyckeTap commented on #538
Hello, I have upgraded mesos to 1.8.0 and now mesos-dns outputs an error related to state.json.
How could I overcome it? I don't know where to change state.json to state?
-----------------------------------------------------
ERROR: 2019/05/27 10:19:18 generator.go:267: invalid character 'N' after top-level value
ERROR: 2019/05/27 10:19:18 generator.go:210: Failed to fetch state.json from leader. E

[2019-05-27 07:37] vixns commented on #538
fixed by https://github.com/mesosphere/mesos-dns/commit/a274e0d17df5abb86d931c21875207849302dd9f

[2019-05-27 07:39] MyckeTap commented on #538
thanks, I got it and already even tested it - works as a charm! Thanks, again!

[2019-06-03 04:16] govindbhardwaj opened #540 "mesos-dns is not working"
I am having following logs when `try journalctl -u dcos-mesos-dns -b`. Please help me resolve it.
[code]

DCOS version I am using, 1.10 open-source on production environment.
There are one master and one private agent node. On DCOS dashboard the node health is showing N/A but showing CPU consumption of the node.

[2019-06-07 03:54] #540 closed

[2019-06-07 03:54] govindbhardwaj commented on #540
Using my dns resolver in config.yaml solved the issue.

[2019-08-02 22:40] f1-outsourcing opened #541 "only showing the 2nd network"
Have launched a task like this

[code]

dig +short only shows me the ip address of the last network.

using v0.7.0-rc2

[2019-08-08 13:42] f1-outsourcing opened #542 "Cannot sign in with github account on chat"
Cannot sign in with github account

https://gitter.im/mesosphere/mesos-dns

[2019-08-08 16:06] f1-outsourcing opened #543 "panic: ./mesos-dns flag redefined: log_dir"
./mesos-dns flag redefined: log_dir
panic: ./mesos-dns flag redefined: log_dir

goroutine 1 [running]:
flag.(*FlagSet).Var(0xc0000622a0, 0x8f8c40, 0xc00001ef50, 0x88b721, 0x7, 0x89c8c8, 0x2f)
        /usr/lib/golang/src/flag/flag.go:805 +0x529
flag.(*FlagSet).StringVar(0xc0000622a0, 0xc00001ef50, 0x88b721, 0x7, 0x0, 0x0, 0x89c8c8, 0x2f)
        /usr/lib/golang/src/flag/flag.go:708 +0x8a
flag.(*Fla

[2019-08-20 10:24] #159 closed

[2019-12-27 07:27] stevenlee87 opened #545 "mesos-dns update to stable ?"
The version of mesos is now 1.9, and the /state interface has changed.
When will the stable version of mesos-dns be released ?

[2019-12-27 07:36] stevenlee87 opened #546 "http://mesosphere.github.io/mesos-dns can't access"
![image](https://user-images.githubusercontent.com/4190121/71507170-80525c80-28be-11ea-9501-55a18038b0ef.png)
http://mesosphere.github.io/mesos-dns can't access ？

response 404

[2019-12-27 07:41] stevenlee87 commented on #520
Don't know why the update is so slow!!!

[2020-03-18 16:05] f1-outsourcing commented on #541
When is this finally being fixed?

[2020-07-24 22:06] f1-outsourcing commented on #541
any one?

[2020-07-25 15:42] f1-outsourcing opened #550 "Proposal: add support for multiple networks"
https://github.com/mesosphere/mesos-dns/issues/541#issue-476379693

[2020-07-27 20:10] f1-outsourcing opened #551 "is there a way to get rid of this random generated string in the group?"
I am having problems with my certificates. Is it possible to turn of this random "-abeqo-s0" generated string?

[@test2 image-synapse]# dig @192.168.10.14 +short  _ldap.prod._tcp.marathon.mesos SRV
0 1 0 ldap.prod-abeqo-s0.marathon.mesos.

[2020-07-28 13:20] f1-outsourcing opened #552 "are SRV records correctly implemented?"
I have the impression that SRV records are not correctly implemented should ._tcp not be at the front (after the service) instead of in the middle? Or do I have something incorrect in my mesos configuration that makes these groups act as part of the task name?

[@]$ dig +short _sip._udp.sip.voice.google.com SRV
20 1 5060 sip-anycast-2.voice.google.com.
10 1 5060 sip-anycast-1.voice.google.com.

[@

[2020-08-13 20:34] f1-outsourcing opened #554 "srv port lookup not the same as configured network"
I am launching a task with two networks.

[code]
And this comes from dns:
[code]

[code]

After scaling this task to two instances

[code]

[code]

I think all the srv need to be unique, on this page[1] you can see in the example that the srv is having unique records. The reason for them to be all unique is that you have to specify what port is on what network[2]

This gives me the port
[code]

An

[2021-02-11 13:07] andreaspeters opened #556 "Repository Maintaining"
Hi,

since you stop to support and develop DC/OS, is there any chance to maintain mesos-dns officially? I'm using it in a lot of mesos installations and it's a really nice piece of software. :-) It would be my pleasure to help others fix there issues.

My companies repository is https://github.com/AVENTER-UG  and as u can see, we have a lot of other mesos projects. :-)

Kind Regards,
Andreas

[2021-07-27 09:19] ja8zyjits commented on #556
@jkoelker  can we have a discussion on this?

[2021-07-29 06:34] jkoelker commented on #556
@ja8zyjits Sure, but I'm not in control of this repo unfortunately. If there is consensus of where to migrate the repo to, I can approach some of my former colleagues and see if we can get it moved. I see that @andreaspeters already has a few fixes would the proposal be to turn it over to to the https://github.com/AVENTER-UG org?

[2021-07-29 06:57] ja8zyjits commented on #556
@jkoelker IMHO the proposal would be to add more maintainers to this project and recognizing them in the readme or something like that. I am not sure about turning it over.

[2021-07-31 04:02] jkoelker commented on #556
@ja8zyjits IIRC having external admins isn't possible with the org maintenance system/structure in use. I believe any proposal would need to be to a new org.

Edit: clarified external admins vs external contributors

[2021-08-02 10:14] andreaspeters commented on #556
Maybe a new org would be a good idea. Because, I'm also interesting in "take care" your marathon-lb. :-) Of course, from my point of view it would also be fine if you "just" link to my github repository. But I think this should not be the preferred way.

[2021-08-03 09:02] ja8zyjits commented on #556
@jkoelker if it is fine with team Mesosphere in changing ownership, then as a user of this tool the developers will be really happy to see this wonderful project being maintained going forward. What could be the possible logical step ahead?

[2021-08-03 14:28] jkoelker commented on #556
@ja8zyjits I'll email the people I know that are still involved and point them to this convo.

[2021-08-17 15:31] andreaspeters commented on #556
any news?

[2021-10-15 20:23] andreaspeters commented on #556
Since I did not get feedback, I'm still maintaining the mesos-dns fork. So, if someone is interesting to use it and/or to help (https://github.com/AVENTER-UG/mesos-dns) I would be happy. :-)